<main class="internal">
 <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
    <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
   <div class="banner-text">
        <h2>Portfolio 
            <small>Home / Portfolio</small>
        </h2>
   </div>    
 </section>
 <section class="gallery">
        <div class="container">
           <div class="row clearfix">     <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                     <figure><img src="assets/images/galery1.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                     <figure><img src="assets/images/galery5.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Web & App Development</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                     <figure><img src="assets/images/galery2.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                     <figure><img src="assets/images/galery3.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                     <figure><img src="assets/images/galery4.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                     <figure><img src="assets/images/galery5.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <a href="#" class="read_more pink">More work</a>
        </div>
     </section>
 


</main>