<main class="internal service_internal">
        <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
           <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
          <div class="banner-text">
               <h2>Services Detail
                   <small>Home / Services Detail</small>
               </h2>
          </div>     
        </section>
     <section class="blog_single">
         <div class="container">
            <div class="row"> 
                <div class="col-md-8">
                    <div class="internal_ui">
                    <figure>
                        <img src="assets/images/service-int.jpg" alt="">
                    </figure>

                    <div class="content-section">
                        <h3>Completely customizable high-quality robust websites.</h3>
                   <p>
                        The sole purpose of any website is to interact with a user in a way to bring him back again and this is possible only through a wide range of customization that a website needs, because of the constantly changing trends.</p>

                      <p>  To cater to these trends, our developers know their way in Wordpress, Drupal and CMS like Joomla to create dynamic and eccentric websites for our clients. We offer:   
                   </p> 
                   <ul class="bluedots">
                       <li>SEO-friendly websites</li>
                       <li>Customized designs for mobiles, tablets and desktops</li>
                       <li>Attractive color schemes and call to actions</li>
                       <li>High converting landing pages</li>
                       <li>Interactive content creation for your website</li>
                       <li>Website re-design</li>
                       <li>With over 6+ years of experience in offering custom web development services, we’ve have grown our client base across the globel serving multiple industries and business domains including healthcare, education, eCommerce, entertainment, travel, finance, media, automotive and more.</li>

                   </ul>
                   <p>Have an idea on mind? Let’s turn it into a success story!</p>
                   
<div class="important_text">
    <h3>We deliver high-tech web development solutions fully compatible with various OS including Windows, Linux, Unix, Solaris and iOS. Our developers are focused on delivering the most secure and robust websites suited to your personal and business requirements.</h3> 
 </div>

 <p>Web design is more than just pretty images arranged on a screen. A quality website will drive valuables actions and create a stellar digital experience for users. At Big Drop, web design is the natural extension of your brand’s story. A beautiful, fully functioning website sets the tone for your online presence. We believe great web design pushes the limit from a static layout, to an immersive brand
        experience.</p>
        
        <p>Our award-winning design team dives deep to understand your industry, your brand and the challenges it faces. From research and discovery to strategy and launch, our collaborative process involves you and your team every step of the way. We’re design geeks, but we also know our partners aren't. That’s why each project is assigned a dedicated Design Project Manager who acts as their personal subject matter expert: advising them along the way, pointing out web best practices and ensuring that the ultimate web design is simultaneously on trend and able to grow with you into the future.</p>
  
        <div class="img_colarge">
            <img src="assets/images/colarge.jpg">
            <img src="assets/images/colarge2.jpg">
            <img src="assets/images/colarge3.jpg">
        </div>
 <div class="comments_post">
  <div class="top_commet_info">
      <div>
       <p><strong>Tags</strong> : Business, Design, Marketing</p> 
      </div>
      <div>
          <p><strong>Share :</strong> <span>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
        </span></p>
      </div>
  </div>
  
 </div>

</div>

                      
                    </div>

                </div>
                <div class="col-md-4">
                 <div class="internal-sidebar-container">
                     <div class="search_bar">
                         <input type="text" placeholder="Search">
                         <input type="submit" value="">
                     </div>
                     <h3>Latest Post</h3>
                     <div class="blog_listed">
                         <figure>
                             <img src="assets/images/blog-link.jpg">
                         </figure>
                         <div class="right-heading">
                             <h3><a href="#">How Explore your Business Idea among Client</a></h3>
                             <label>July 16, 2018</label>
                         </div>
                     </div>
                     <div class="blog_listed">
                            <figure>
                                <img src="assets/images/blog-link2.jpg">
                            </figure>
                            <div class="right-heading">
                                <h3><a href="#">How Explore your Business Idea among Client</a></h3>
                                <label>July 16, 2018</label>
                            </div>
                        </div>
                        <div class="blog_listed">
                                <figure>
                                    <img src="assets/images/blog-link3.jpg">
                                </figure>
                                <div class="right-heading">
                                    <h3><a href="#">How Explore your Business Idea among Client</a></h3>
                                    <label>July 16, 2018</label>
                                </div>
                            </div>
                            <div class="blog_listed">
                                    <figure>
                                        <img src="assets/images/blog-link4.jpg">
                                    </figure>
                                    <div class="right-heading">
                                        <h3><a href="#">How Explore your Business Idea among Client</a></h3>
                                        <label>July 16, 2018</label>
                                    </div>
                                </div>
                                <div class="categ">
                                    <h3>Categories</h3>
                                    <ul>
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Creative Agency (05)</a></li>
                                        <li><a href="#">Mobile Apps (10)</a></li>
                                        <li><a href="#">Development (9)</a></li>
                                        <li><a href="#">Business</a></li>
                                    </ul>

                                 
                                </div>
                 </div>

                </div>
            </div>
         </div>
     </section>
  
            <section  class="contact_sec">
                    <div class="container">
                       <div class="row">
                          <div class="col-md-10 offset-md-1">
                              <h4>Contact Us</h4>
                              <h3>We can help your business with<br>
                                     our knowledge</h3>
                         <div class="row">
                             <div class="col-md-6">
                           <div class="form">
                               <form>
                                 <div class="form-group wow fadeInDown  animated">
                                     <input type="text" placeholder="Name">
                                 </div>
                                 <div class="form-group wow fadeInDown  animated">
                                         <input type="text" placeholder="Email">
                                 </div>
                                 <div class="form-group wow fadeInDown  animated">
                                     <textarea placeholder="Your Message">
                 
                                     </textarea>
                                 </div>
                                     <div class="form-group wow fadeInDown  animated">  
                                             <input class="read_more pink" type="submit" value="Send Message">
                                 </div>   
                               </form>
                           </div>
                             </div>
                             <div class="col-md-6 map">
                                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.306067634!2d-74.25987490027077!3d40.69714939655764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1551082091728" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>
                 
                             </div>
                         </div>
                 
                          </div> 
                       </div>
                    </div>
                 </section>

  </main>