<main class="homepage">
        <section class="banner-wrapper" style="background-image: url('assets/images/banner.jpg');">
            <div class="banner_text">
            <div class="container">
               <div class="row">
             <div class="lfet_lcd wow fadeInLeft">
                 <figure>
                     <img src="assets/images/lcd.png" alt="">
                 </figure>
              </div>
                    <div class="content_artea wow fadeInRight">
                        <h2>Websites and Mobile Apps built
                                to achieve Business Goals.</h2>
                            <p>Before you get started, take a look at what <br>
                                        we can contribute to your brand.</p>
                        <a href="#" class="read_more pink">Read more</a>
                    </div>
                 </div>
             </div>
         </div>
    </section>
<section class="about_section" style="background-image: url('assets/images/ab.png');">
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <h4 class="heading-title wow fadeInDown">About Us</h4>
            <h3 class="wow fadeInDown">We are a dynamic team of
                    creatives people of design,
                    marketing, web & apps
                    development.</h3>
        </div>
        <div class="col-md-5 offset-md-1 wow fadeInRight">
            <p>
            Never settling for the status quo or resting on the successes of today, 
            we push our clients, our employees, and our industry to go to the edge 
            of what is possible and exceed their own expectations</p>

            <p>Our employee adds a unique set of capabilities to the team, from our 
                designers and developers who create cutting-edge websites that win awards
                 to our project managers that guide clients through the creative process 
                 so they are able to drive real results when unleashed.</p>

                 <p>Technologies change, design trends change, and even clients change. 
                     Yet, our approach to business remains the same – we remain innovative, 
                     effective, efficient, and loyal to our customers. By staying focused 
                     on our core services, we have developed deep expertise</p>
        </div>
    </div>
</div>
</section>
  <section class="feature-section">
     <div class="container">
       <h4>Features</h4>
       <h3>At the heart of our approach is our dedication to <br>custom design, development and strategy.</h3>
        <div class="fea-listing">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-4  wow fadeInLeft">
                        <div class="dev-item">
                            <figure><img src="assets/images/icon1.png" alt=""></figure>
                    <h4>Web Development</h4>
                    <p>We specialize in complex functionality to
                        address your growing business needs. When you need 
                        to create a truly custom solution you can count on us to be your team.</p>
                        <a href="#">Read More</a>
                    </div></div>
                    <div class="col-md-4  wow fadeInDown">
                            <div class="dev-item">
                                    <figure><img src="assets/images/icon2.png" alt=""></figure>
                        <h4>Responsive Web-sites</h4>
                        <p>Responsive design helps you in reaching a wider audience. It doesn’t matter if your
                            visitors use PC or Mac, Laptop or Phone – they will get perfect viewing experience every time</p>
                        <a href="#">Read More</a>
                    </div>
                    </div>
                    <div class="col-md-4 wow fadeInRight">
                            <div class="dev-item">
                                    <figure><img src="assets/images/icon3.png" alt=""></figure>
                        <h4>Mobile App Development</h4>
                        <p>We are skilled with most of major platforms including native iOS and Android,
                            Appcelerator Titanium, and Phone Gap.</p>
                        <a href="#">Read More</a>
                    </div> 
                    </div> 
                </div>
           </div> 
       </div>
    </div>
  </section>
  <section class="fluid-section-one">
        <div class="outer-container clearfix">

            <!--Image Column-->
            <div class="image-column wow fadeInLeft animated">
                <figure class="image-box"><img src="assets/images/banner2.jpg" alt=""></figure>
            </div>

            <!--Content Column-->
            <div class="content-column wow fadeInRight  animated">
                <div class="inner-column">
                    <div class="sec-title"> 
                        <h4 class="heading-title">What we do ?</h4>
                        <h3>We transform <br>
                                your ideas into reality <br>
                                for creating a better tomorrow.</h3>
                    </div>
                    <div class="content">
                        <p>Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for chang  the Seamlessly underwhelm optimal testing procedures.</p>

                        <ul class="services-list">
                            <li>
                                <div class="icon-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.93 35">
                                            <g id="Layer_2" data-name="Layer 2">
                                              <g id="Layer_1-2" data-name="Layer 1">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                  <g id="Layer_1-2-2" data-name="Layer 1-2">
                                                    <path class="cls-1" d="M34.46,5,29.95.49a1.67,1.67,0,0,0-2.36,0L19.2,8.91a.54.54,0,0,0,.76.76l8.42-8.42a.59.59,0,0,1,.83,0h0l4.47,4.47a.59.59,0,0,1,0,.83h0l-1.1,1.1L29.72,4.78a.54.54,0,1,0-.83.69l.07.07,2.88,2.88L30.58,9.68,29.32,8.42a.54.54,0,0,0-.76.76l1.26,1.26L28.56,11.7,27.3,10.44a.54.54,0,1,0-.83.69l.07.07,1.26,1.26-1.25,1.25-2.88-2.88a.54.54,0,0,0-.76.76l2.88,2.88-1.25,1.25-1.26-1.26a.54.54,0,0,0-.76.76l1.26,1.26-1.06,1.06-5.31-5.31,1-1a.54.54,0,1,0-.69-.83l-.07.07-1,1-10-10A3.68,3.68,0,1,0,1.47,6.71l10,10-11,11A1.67,1.67,0,0,0,.44,30l4.51,4.51a1.67,1.67,0,0,0,2.36,0l11-11,.78.78a.54.54,0,0,0,.76-.76l-1.08-1.08-.07-.09-.09-.07L6.87,10.58,8.32,9.13l.9.9a.54.54,0,1,0,.73-.77L9,8.36,10.5,6.91l5.71,5.71h0l6,6v.06h.06l8,8-1.32,1.55-8.1-8.09h0L17.61,16.9h0l-5.7-5.7a.54.54,0,0,0-.76.76l17,17L26.7,30.41,21.59,25.3a.54.54,0,0,0-.83.69l.07.07,5.52,5.52a.55.55,0,0,0,.19.12l6.53,2.53A.88.88,0,0,0,34.2,33.1l-2.55-6.52a.55.55,0,0,0-.12-.19l-8.07-8.07,11-11A1.67,1.67,0,0,0,34.46,5ZM2.23,2.29a2.59,2.59,0,0,1,3.66,0L7.6,4,3.95,7.65,2.23,5.95A2.59,2.59,0,0,1,2.23,2.29ZM16.45,23.81l-1.26-1.26a.54.54,0,0,0-.76.76l1.26,1.26-1.25,1.25L11.55,23a.54.54,0,0,0-.76.76l2.88,2.88-1.25,1.25-1.27-1.31a.54.54,0,0,0-.76.76l1.26,1.26L10.4,29.85,9.13,28.6a.54.54,0,0,0-.83.69l.07.07,1.26,1.26L8.38,31.88,5.5,29a.54.54,0,1,0-.83.69l.07.07,2.88,2.88-1.1,1.1a.59.59,0,0,1-.83,0h0L1.2,29.27a.59.59,0,0,1,0-.83h0l11-11,5.31,5.31ZM7.95,8h0L6.1,9.82,4.7,8.42,8.37,4.76l1.4,1.4ZM27.69,31l3.26-3.26L33,33.06Z"/>
                                                  </g>
                                                </g>
                                              </g>
                                            </g>
                                          </svg>                                    
                                </div>
                                <h4><a href="#">Design With Love</a></h4>
                                <p>
                                        We love to design and pay great attention to
                                         every detail to make perfect end product.
                                </p>
                            </li>

                            <li>
                                <div class="icon-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
                                            <g id="Layer_2" data-name="Layer 2">
                                              <g id="Layer_1-2" data-name="Layer 1">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                  <g id="Layer_1-2-2" data-name="Layer 1-2">
                                                    <path class="cls-1" d="M33.25,2.33h-10A2.92,2.92,0,0,0,20.42,0H5.83A2.92,2.92,0,0,0,3,2.33H1.75A1.81,1.81,0,0,0,0,4.19V28.47a1.81,1.81,0,0,0,1.75,1.86H13l-1.2,3.5h-.75a.58.58,0,1,0,0,1.17H23.92a.58.58,0,1,0,0-1.17h-.75L22,30.33H33.25A1.81,1.81,0,0,0,35,28.47V4.19a1.81,1.81,0,0,0-1.75-1.86M5.83,1.17H20.42a1.75,1.75,0,0,1,1.75,1.75h0v8.75a1.75,1.75,0,0,1-1.75,1.75H11.08a.58.58,0,0,0-.41.17L7.58,16.67V14A.58.58,0,0,0,7,13.42H6.42a2.34,2.34,0,0,1-2.33-2.33V2.92A1.75,1.75,0,0,1,5.83,1.17M1.75,3.5H2.92v7.58a3.5,3.5,0,0,0,3.5,3.5V17.5H5.83a.59.59,0,0,0,0,1.17h7.58a.59.59,0,1,0,0-1.17h-5l2.92-2.92h9.09a2.92,2.92,0,0,0,2.92-2.92V3.5h9.92a.65.65,0,0,1,.58.69V24.5H1.17V4.19a.65.65,0,0,1,.58-.69M21.93,33.83H13.07l1.2-3.5h6.48Zm11.32-4.67H1.75a.65.65,0,0,1-.58-.69v-2.8H33.83v2.81a.65.65,0,0,1-.58.69"/>
                                                    <path class="cls-1" d="M8.34,9.75a.58.58,0,0,0,.82-.82L7.24,7,9.16,5.08a.58.58,0,0,0-.82-.82L6,6.59a.58.58,0,0,0,0,.82Z"/>
                                                    <path class="cls-1" d="M11.08,8.17a.58.58,0,0,0,.58-.58V4.67a.59.59,0,1,0-1.17,0V7.58a.58.58,0,0,0,.58.58"/>
                                                    <path class="cls-1" d="M10.55,9.55a.32.32,0,0,0,.05.1l.07.09a.68.68,0,0,0,.19.12.58.58,0,0,0,.22,0,.61.61,0,0,0,.41-.17l.07-.09a.32.32,0,0,0,.05-.1.38.38,0,0,0,0-.11.8.8,0,0,0,0-.12.58.58,0,0,0-.81-.53.67.67,0,0,0-.19.12.61.61,0,0,0-.17.41.76.76,0,0,0,0,.12.37.37,0,0,0,0,.11"/>
                                                    <path class="cls-1" d="M13.42,7.58h1.75a.59.59,0,1,0,0-1.17H13.42a.59.59,0,1,0,0,1.17h0"/>
                                                    <path class="cls-1" d="M17.5,7.58h1.75a.59.59,0,0,0,0-1.17H17.5a.59.59,0,1,0,0,1.17h0"/>
                                                    <path class="cls-1" d="M2.92,21H3.5a.59.59,0,0,0,0-1.17H2.92a.59.59,0,0,0,0,1.17"/>
                                                    <path class="cls-1" d="M15.75,18.67h4.08a.59.59,0,1,0,0-1.17H15.75a.59.59,0,1,0,0,1.17"/>
                                                    <path class="cls-1" d="M26.25,18.67h2.33a.59.59,0,0,0,0-1.17H26.25a.59.59,0,1,0,0,1.17h0"/>
                                                    <path class="cls-1" d="M7.58,21h3.5a.59.59,0,1,0,0-1.17H7.58a.59.59,0,0,0,0,1.17h0"/>
                                                    <path class="cls-1" d="M18.08,20.42a.58.58,0,0,0,.58.58H21a.59.59,0,0,0,0-1.17H18.67a.58.58,0,0,0-.58.58"/>
                                                    <path class="cls-1" d="M32.08,19.83h-3.5a.59.59,0,0,0,0,1.17h3.5a.59.59,0,0,0,0-1.17"/>
                                                    <path class="cls-1" d="M5.83,23.33H8.17a.59.59,0,1,0,0-1.17H5.83a.59.59,0,1,0,0,1.17"/>
                                                    <path class="cls-1" d="M18.08,22.17H15.17a.59.59,0,1,0,0,1.17h2.92a.59.59,0,0,0,0-1.17"/>
                                                    <path class="cls-1" d="M28,22.17H24.5a.59.59,0,0,0,0,1.17H28a.59.59,0,0,0,0-1.17"/>
                                                  </g>
                                                </g>
                                              </g>
                                            </g>
                                          </svg>
                                    
                                </div>
                                <h4><a href="#">Coded to Perfection</a></h4>
                                <p>
                                        Mixed is 100% W3C valid and clean coded. Every 
                                        section is commented for easier understanding.

                                </p>
                            </li>

                            <li>
                                <div class="icon-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 34.72">
                                            <g id="Layer_2" data-name="Layer 2">
                                              <g id="Layer_1-2" data-name="Layer 1">
                                                <g id="Layer_2-2" data-name="Layer 2">
                                                  <g id="Layer_1-2-2" data-name="Layer 1-2">
                                                    <path class="cls-1" d="M34.15,22.27H33.8V20.76c1.36-1.38,1.2-3.83,1.18-4.14V14a1.5,1.5,0,0,0-1.5-1.5h-.06a1.49,1.49,0,0,0-.72.19,1.5,1.5,0,0,0-1.17-.57h-.06a1.5,1.5,0,0,0-.71.17,1.5,1.5,0,0,0-1.15-.53h-.06a1.5,1.5,0,0,0-.6.12,1.5,1.5,0,0,0-1.25-.68h-.06a1.5,1.5,0,0,0-1.5,1.5v1.5a1.82,1.82,0,0,0-1.43.35c-.77.65-.69,1.93-.62,3.17a5.81,5.81,0,0,0,2.19,3.6v1H26a.55.55,0,0,0-.55.55V34.17a.55.55,0,0,0,.55.55h8.14a.55.55,0,0,0,.55-.55V22.82A.55.55,0,0,0,34.15,22.27Zm-7.59,1.1h7v1.74h-7Zm.62-2.76s-1.88-1.42-2-3c0-.88-.12-2,.23-2.25a1,1,0,0,1,.72-.08V16a.55.55,0,1,0,1.1,0V12.75a.4.4,0,0,1,.4-.4h.06a.4.4,0,0,1,.4.4v2.13a.55.55,0,1,0,1.1,0V13.12a.39.39,0,0,1,.35-.21h.06a.4.4,0,0,1,.4.4v1.58a.55.55,0,1,0,1.1,0v-1.4a.39.39,0,0,1,.35-.22h.06a.4.4,0,0,1,.4.4v1.49a.55.55,0,0,0,1.1,0h0V14a.4.4,0,0,1,.4-.4h.06a.4.4,0,0,1,.4.4h0v2.64c.06.66,0,2.56-1,3.4a.55.55,0,0,0-.2.42v1.75H27.4V21.05A.55.55,0,0,0,27.18,20.61Zm6.41,13h-7v-7.4h7Z"/>
                                                    <path class="cls-1" d="M21.94,12.94h-.23V11.51A4.86,4.86,0,0,0,23.46,9L26,10a1.45,1.45,0,0,0,1.91-.76h0l.31-.73a1.45,1.45,0,0,0-.76-1.91h0l-3-1.26.14-.5h0A1.5,1.5,0,0,0,23.49,3H23.4a1.49,1.49,0,0,0-.75,0,1.5,1.5,0,0,0-1-.82h-.06a1.5,1.5,0,0,0-.73,0l-.06-.11a1.49,1.49,0,0,0-.93-.67h-.06a1.49,1.49,0,0,0-.61,0,1.52,1.52,0,0,0-.13-.27,1.49,1.49,0,0,0-.93-.67h-.06a1.5,1.5,0,0,0-1.8,1.1l-.1.37L12.29.28h-.18L8.42,0A.55.55,0,0,0,8,1l2.6,2.54h0l.22.12,2.36,1a11.49,11.49,0,0,0-.38,1.67c-.3,1.73.93,3.53,1.35,4.07v2.51h-.46a.55.55,0,0,0-.55.55h0V34.17a.55.55,0,0,0,.55.55h8.14a.55.55,0,0,0,.55-.55V20.36a.55.55,0,1,0-1.1,0h0V33.62h-7V16.88h7v1.53a.55.55,0,0,0,1.1,0V13.49A.55.55,0,0,0,21.94,12.94Zm5.24-5.09a.35.35,0,0,1,0,.27l-.31.73a.35.35,0,0,1-.46.19h0l-.65-.27.62-1.35.61.25A.35.35,0,0,1,27.18,7.85ZM25.37,7l-.62,1.35-1-.43V7.81l.38-1.36ZM11.23,1.29l-.41.87-1-1Zm1.12.21L15.89,3,15.5,4.43l-3.78-1.6ZM14,6.5a11.66,11.66,0,0,1,.31-1.43l1,.42a.55.55,0,0,0,1,0l1-3.66h0a.4.4,0,0,1,.48-.29h.06a.4.4,0,0,1,.29.48l-.06.24L17.47,4.5a.55.55,0,0,0,.38.68H18a.55.55,0,0,0,.53-.4l.63-2.18a.39.39,0,0,1,.39-.13h.06a.39.39,0,0,1,.31.45l0,.08-.58,2a.55.55,0,0,0,.36.69h.17a.55.55,0,0,0,.53-.4l.54-1.81a.39.39,0,0,1,.41-.15h.06a.4.4,0,0,1,.29.48l-.08.35-.47,1.5a.55.55,0,0,0,.36.69h.17A.55.55,0,0,0,22.18,6l.48-1.52h0a.4.4,0,0,1,.48-.29h.06a.4.4,0,0,1,.3.47l-.82,3v.07s-.37,2.27-1.76,3a.55.55,0,0,0-.3.49v1.69H15.37V10.23a.55.55,0,0,0-.13-.35S13.74,8.07,14,6.55Zm.36,9.23V14h7v1.74Z"/>
                                                    <path class="cls-1" d="M10.92,19.66V17.09a1.5,1.5,0,0,0-1.5-1.5H9.36a1.49,1.49,0,0,0-.72.19,1.5,1.5,0,0,0-1.17-.57H7.41a1.5,1.5,0,0,0-.71.17,1.5,1.5,0,0,0-1.15-.54h0a1.5,1.5,0,0,0-.6.12,1.5,1.5,0,0,0-1.25-.68H3.59a1.5,1.5,0,0,0-1.5,1.5v1.45a1.82,1.82,0,0,0-1.43.35c-.77.65-.69,1.93-.62,3.17a5.81,5.81,0,0,0,2.19,3.6v1H2a.55.55,0,0,0-.55.55v8.31a.55.55,0,0,0,.55.55h8.14a.55.55,0,0,0,.55-.55v-8.3a.55.55,0,0,0-.55-.55H9.74V23.8C11.1,22.43,11,20,10.92,19.66ZM9.53,26.42v1.74h-7V26.42Zm0,7.21h-7V29.26h7ZM3.34,25.31V24.1a.55.55,0,0,0-.22-.44,5,5,0,0,1-2-3c0-.88-.12-2,.23-2.25a1,1,0,0,1,.72-.08v.75a.55.55,0,0,0,1.1,0V15.8a.4.4,0,0,1,.4-.4h.06a.4.4,0,0,1,.4.4v2.13a.55.55,0,1,0,1.1,0h0V16.16A.39.39,0,0,1,5.5,16h.06a.4.4,0,0,1,.4.4V18a.55.55,0,0,0,1.1,0v-1.4a.39.39,0,0,1,.35-.22h.06a.4.4,0,0,1,.4.4V18.2a.55.55,0,0,0,1.1,0V17.09a.4.4,0,0,1,.4-.4h.06a.4.4,0,0,1,.4.4v2.64c.06.66,0,2.56-1,3.4a.55.55,0,0,0-.2.42V25.3H3.34Z"/>
                                                  </g>
                                                </g>
                                              </g>
                                            </g>
                                          </svg>
                                
                                </div>
                                <h4><a href="#">Dedicated Support</a></h4>
                                <p>
                                        We provide support for all of our themes. If you have any
                                         questions don’t hesitate to contact us.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery">
       <div class="container">
          <h4>Work</h4>
          <h3>Our Project</h3>
          <div class="row clearfix">     <!-- Project Block -->
            <div class="project-block col-md-4 col-sm-6 col-xs-12">
                <div class="image-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure><img src="assets/images/galery1.jpg" alt=""></figure>
                    <div class="overlay-box">
                        <div class="content">
                            <span>Branding</span>
                            <h4><a href="#">Home Decoration</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block col-md-4 col-sm-6 col-xs-12">
                <div class="image-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <figure><img src="assets/images/galery5.jpg" alt=""></figure>
                    <div class="overlay-box">
                        <div class="content">
                            <span>Web & App Development</span>
                            <h4><a href="#">Home Decoration</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block col-md-4 col-sm-6 col-xs-12">
                <div class="image-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                    <figure><img src="assets/images/galery2.jpg" alt=""></figure>
                    <div class="overlay-box">
                        <div class="content">
                            <span>Branding</span>
                            <h4><a href="#">Home Decoration</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block col-md-4 col-sm-6 col-xs-12">
                <div class="image-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure><img src="assets/images/galery3.jpg" alt=""></figure>
                    <div class="overlay-box">
                        <div class="content">
                            <span>Branding</span>
                            <h4><a href="#">Home Decoration</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block col-md-4 col-sm-6 col-xs-12">
                <div class="image-box wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <figure><img src="assets/images/galery4.jpg" alt=""></figure>
                    <div class="overlay-box">
                        <div class="content">
                            <span>Branding</span>
                            <h4><a href="#">Home Decoration</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block col-md-4 col-sm-6 col-xs-12">
                <div class="image-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                    <figure><img src="assets/images/galery5.jpg" alt=""></figure>
                    <div class="overlay-box">
                        <div class="content">
                            <span>Branding</span>
                            <h4><a href="#">Home Decoration</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="read_more pink">More work</a>
       </div>
    </section>

    <section class="news-section">
            <div class="auto-container">
                    <div class="row clearfix">
                            <div class="title-column col-md-5 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                            <div class="sec-title">
                                                    <h4 class="heading-title">Blog</h4>
                                                    <h3>Check what <br>
                                                        happening inside here</h3>
                                                    <p>
                                                        Distinctively exploit optimal alignments for intuitive
bandwidth. Quickly coordinate e-business through
revolutionary catalysts for chang the Seamlessly
underwhelm optimal processes.
                                                    </p>
                                                </div>
                                  </div>
                            </div>
                            <div class="slider-column col-md-7 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <div class="news-carousel owl-carousel owl-theme">
                                                <div class="owl-item">
                                                        <div class="news-block">
                                                            <div class="inner-box">
                                                                <div class="image-box">
                                                                    <a href="#"><img src="assets/images/news-1.jpg" alt=""></a>
                                                                 </div>
                                                                <div class="lower-content">
                                                                    <h3><a href="#">Complimentary Design</a></h3>
                                                                    <p>Just two good ol' boys Never mean no harm.  law since the day. </p>
                                                                    <a href="#" class="read-more">More work  
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12.52" height="14.49" viewBox="0 0 12.52 14.49">
                                                                                <g id="Layer_2" data-name="Layer 2">
                                                                                  <g id="Layer_1-2" data-name="Layer 1">
                                                                                    <g id="Layer_2-2" data-name="Layer 2">
                                                                                      <g id="Layer_1-2-2" data-name="Layer 1-2">
                                                                                        <path class="cls-1" d="M1,14.49a1,1,0,0,1-.52-.15,1.06,1.06,0,0,1-.5-.91V1.05A1.07,1.07,0,0,1,.52.14,1,1,0,0,1,1.65.21L12.12,6.4a1.09,1.09,0,0,1,0,1.69L1.57,14.33A.89.89,0,0,1,1,14.49ZM.84,13l-.11.07ZM1.52,1.86V12.63l9.09-5.39ZM.81,1.44h0Z"/>
                                                                                      </g>
                                                                                    </g>
                                                                                  </g>
                                                                                </g>
                                                                              </svg>

                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item">
                                                            <div class="news-block">
                                                                <div class="inner-box">
                                                                    <div class="image-box">
                                                                        <a href="#"><img src="assets/images/news-2.jpg" alt=""></a>
                                                                     </div>
                                                                    <div class="lower-content">
                                                                        <h3><a href="#">Complimentary Design</a></h3>
                                                                        <p>Just two good ol' boys Never mean no harm.  law since the day. </p>
                                                                        <a href="#" class="read-more">More work 
                                                                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 12.52 14.49">
                                                                                    <g id="Layer_2" data-name="Layer 2">
                                                                                      <g id="Layer_1-2" data-name="Layer 1">
                                                                                        <g id="Layer_2-2" data-name="Layer 2">
                                                                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                                                                            <path class="cls-1" d="M1,14.49a1,1,0,0,1-.52-.15,1.06,1.06,0,0,1-.5-.91V1.05A1.07,1.07,0,0,1,.52.14,1,1,0,0,1,1.65.21L12.12,6.4a1.09,1.09,0,0,1,0,1.69L1.57,14.33A.89.89,0,0,1,1,14.49ZM.84,13l-.11.07ZM1.52,1.86V12.63l9.09-5.39ZM.81,1.44h0Z"/>
                                                                                          </g>
                                                                                        </g>
                                                                                      </g>
                                                                                    </g>
                                                                                  </svg>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                        </div>  
                                    </div>
                             </div>
            </div>
        </div>
    </section>


    <section class="fun-fact-section wow fadeInRight  animated">
            <div class="container">
        <div class="auto-container">
            <div class="fact-counter">
                
                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="progress" data-percentage="90">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                 <span class="result">95</span>  
                                   
                                </div>
                            </div>
                        </div>
                        <label class="progress_text">Happy customers</label>
                    </div>
                    <div class="col-md-3">
                        <div class="progress" data-percentage="80">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                        <span class="result">80</span> 
                                </div>
                            </div>                         
                           
                        </div>
                        <label class="progress_text">Profestionals</label>
                    </div>                    
                    <div class="col-md-3">
                        <div class="progress" data-percentage="80">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                        <span class="result">83</span> 
                                </div>
                            </div>
                        </div>
                        <label class="progress_text">customers</label>
                    </div>
                    <div class="col-md-3">
                        <div class="progress" data-percentage="70">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                        <span class="result">76</span> 
                                </div>
                            </div>
                        </div>
                        <label class="progress_text">progress</label>
                    </div>
                 </div>
              </div>
            </div>
        </div>
    </section>
<section  class="contact_sec">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
             <h4>Contact Us</h4>
             <h3>We can help your business with<br>
                    our knowledge</h3>
        <div class="row">
            <div class="col-md-6">
          <div class="form">
              <form>
                <div class="form-group wow fadeInDown  animated">
                    <input type="text" placeholder="Name">
                </div>
                <div class="form-group wow fadeInDown  animated">
                        <input type="text" placeholder="Email">
                </div>
                <div class="form-group wow fadeInDown  animated">
                    <textarea placeholder="Your Message">

                    </textarea>
                </div>
                    <div class="form-group wow fadeInDown  animated">  
                            <input class="read_more pink" type="submit" value="Send Message">
                </div>   
              </form>
          </div>
            </div>
            <div class="col-md-6 map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.306067634!2d-74.25987490027077!3d40.69714939655764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1551082091728" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </div>

         </div> 
      </div>
   </div>
</section>
</main>
