
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900');
@import url('./bootstrap.min.css');
@import url('./flaticon.css');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('./slick.css');
@import url('./owl.carousel.min.css');
@import url('./owl-theme.css');
@import url('./animat.css');
/*********** font-family: 'Poppins', sans-serif; *********/
*{ margin: 0 auto;}
/** RESET only css
font-family: 'Open Sans', sans-serif;

**/
* {
    margin: 0;
    padding: 0; }
    *, *:after, *:before {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-font-kerning: none;
      font-kerning: none; }
  
  li {
    list-style: none; }
  
  label {
    font-weight: normal; }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0; }
  
  input,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: border-box;
    margin: 0;
    outline: 0;
    vertical-align: top;
    width: 100%; }
  
  input[type='checkbox'],
  input[type='radio'] {
    width: auto;
    height: auto; }
  
  input[type='checkbox'] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox; }
  
  input[type='radio'] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio; }
  
  select[multiple],
  select[size],
  textarea {
    height: auto; }
  
  select::-ms-expand {
    display: none; }
  
  select:focus::-ms-value {
    background-color: transparent;
    color: inherit; }
  
  textarea {
    resize: vertical; }
  
  input[type='search']::-webkit-search-decoration {
    display: none; }
  
  /* For Firefox */
  input[type='number'] {
    -moz-appearance: textfield; }
  
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  figure{
    margin: 0;
  }
  a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    a:hover, a:focus {
      color: #3f3f3f;
      text-decoration: none; }
  
  *:focus {
    outline: none !important; }
  
  img {
    max-width: 100%; }
  
  b,
  strong {
    font-weight: normal; }
  
  em,
  i {
    font-style: normal; }
  
  .clr {
    border: 0;
    clear: both;
    height: 0; }
  
  body,
  html {
    width: 100%; font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: normal;
    margin: 0; }
  
  h1,
  h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;}
  
 
  h3 {
    font-size: 33px;
    margin: 0 0 20px; 
    color: #3b4757;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    color: #7d7d7d;
    margin-bottom: 15px;
  }
p{
    color: #7d7d7d;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.8;
}
.heading-title{
  color: #7d7d7d;
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}
.heading-title::before {
  background-image: linear-gradient(to right top, #ff4676, #ff3c6d, #ff3163, #ff2359, #ff104e);
  width: 66px;
  height: 4px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;

} 





@media (min-width:1500px) {
 .container{
     max-width: 1470px;
 }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
header .navbar {
    padding: 40px 0;
}
.navbar>.container-fluid .navbar-brand, .navbar>.container .navbar-brand {
    margin-left: 0px;
}
header .navbar .navbar-brand {
    padding: 0;
    height: auto;
}
header .navbar .navbar-collapse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}
header .nav-top-sec {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    padding: 0 35px 0 0;
    display: flex;
    justify-content: flex-end;
    
}
header .nav-top-sec li{
    list-style: none;
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
    line-height: 1;
}
.nav-top-sec li figure {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}
.nav-top-sec li figure i.fa {
    color: #ff4374;
    font-size: 16px;
}
.nav-top-sec li a {
    color: #3b4757;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
button.dropdown-toggle {
    background: none;
    border: none;
    line-height: 1;
    cursor: pointer;
}
button.dropdown-toggle:focus{
    outline: none;
}
.fa, .fas,.fab {
    color: #ff3f70;
    font-size: 17px;
}
header .nav-top-sec li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #3b4757;
    position: absolute;
    right: -24px;
    top: 3px;
}
header .nav-top-sec li:last-child:after {
    display: none;
}
header .navbar-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
header .navbar .navbar-nav>li {
    margin: 0 10px;
}
header .navbar .navbar-nav>li>a {
    color: #3b4757;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    letter-spacing: 0.05em;
    position: relative;
    padding: 0;
}
header .navbar-bottom .quote-btn {
    margin-left: 20px;
}
.nav-top-sec li a:hover {
  color: #ff4374;
}
.read_more{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 0 22px 0px;
    line-height: 3.5em;
    border-radius: 92px;
    min-width: 197px;
    text-align: center;
}
.navbar-expand-md .navbar-nav a:hover{
  color: #ff4374!important;
}
header .navbar-bottom .quote-btn a {
    background-image: linear-gradient(to right top, #9467e7, #8961e5, #7e5ce2, #7256e0, #6551de);
}
.read_more.pink{ 
    background-image: linear-gradient(to right top, #ff4676, #ff3c6d, #ff3163, #ff2359, #ff104e);
    line-height: 2.9em;
    margin-top: 35px;
}
.banner-wrapper {
    min-height: 973px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:left top;
}
.banner_text {
    padding-top: 183px;
    overflow: hidden;

}
.lfet_lcd{
    width: 58%;
}
.lfet_lcd img{
    max-width: none;
}
.content_artea {
    width: 42%;
    margin-top: 160px;
}
.banner_text h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #3b4757;
    margin-bottom: 15px;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .2em solid;
    border-right: .2em solid transparent;
    border-bottom: 0;
    border-left: .2em solid transparent;
}
.about_section {
  padding: 100px 0;
  background-repeat: no-repeat; 
  background-position:left top 80px;
  overflow: hidden;
}

.dev-item {
  padding: 60px 40px;
  background-color: #ffffff;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-box-shadow: 0 15px 46px rgba(0,0,0,.1);
  -ms-box-shadow: 0 15px 46px rgba(0,0,0,.1);
  /* box-shadow: 0 15px 46px rgba(0,0,0,.1); */
}
.dev-item:hover {
  outline-color: #f44438;
  outline-offset: -6px;
}
.dev-item figure{
  transition: all 500ms ease;
}
.dev-item:hover figure{
  -webkit-transform: scale(1.1) translateY(-4px);
  -ms-transform: scale(1.1) translateY(-4px);
  -moz-transform: scale(1.1) translateY(-4px);
  transform: scale(1.1) translateY(-4px);
}
.dev-item h4 {
  color: #3b4757;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-top: 45px;
}
.fea-listing {
  margin-top: 60px;
}

.dev-item a {
  color: #3b4757;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  position: relative;
}
.dev-item a::after {
  content: "";
  background: #3b4757;
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.dev-item p{    min-height: 100px;}
.feature-section{
  text-align: center;
  position: relative;
}
.feature-section:before {
  position: absolute;
  right: 0;
  top: -280px;
  height: 1348px;
  width: 944px;
  content: "";
  background-image: url(../images/bg-1.png);
  z-index: -1;
}
.fluid-section-one {
  position: relative;
  margin-top: 120px;
}
.fluid-section-one .outer-container {
  position: relative;
  min-height: 350px;
}
.fluid-section-one .image-column {
  position: absolute;
  float: left;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.fluid-section-one .content-column {
  position: relative;
  float: right;
  width: 50%;
}
.fluid-section-one .content-column .inner-column {
  position: relative;
  max-width: 600px;
  padding: 10px 15px 10px 0px;
  margin-left:30px;
}
.fluid-section-one .content p {
  display: block;
  margin-bottom: 20px;
}
.fluid-section-one .services-list {
  position: relative;
  margin-left: 0px;
}
.fluid-section-one .services-list li {
  position: relative;
  display: block;
  margin-bottom: 20px;
  min-height: 85px;
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 50px;
}
.fluid-section-one .services-list li .icon-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 85px;
  width: 85px;
  text-align: center;
  line-height: 85px;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  background-color: #5366cf;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  -o-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fluid-section-one .icon-box svg {
  width: 70%;
  height: 70%;
  fill: #fff;
}
.fluid-section-one .services-list li h4 {
  position: relative;
  font-size: 20px;
  line-height: 1.2em;
  color: #3c4858;
  font-weight: 600;
  margin-bottom: 10px;
}
.fluid-section-one .services-list li h4 a {
  color: #3c4858;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.wpcf7-not-valid {
  border-color: #ff0000!important;
}
.fluid-section-one figure.image-box {
  margin-top: 55px;
}
/*********************** Gallery ************************/
.project-block {
  position: relative;
  margin-bottom: 30px;
}
.project-block .image-box {
  position: relative;
  overflow: hidden;
}
.project-block .image-box:before {
  position: absolute;
  right: -70px;
  bottom: -70px;
  height: 0;
  width: 0;
  border-bottom: 70px solid #ffffff;
  border-left: 70px solid transparent;
  content: "";
  z-index: 1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.project-block .image-box img {
  width: 100%;
  height: auto;
  display: block;
}
.project-block .overlay-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #5366cf;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 500ms ease;
}
.project-block .overlay-box .content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.project-block .overlay-box .content span {
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}
.project-block .overlay-box .content h4 {
  display: block;
  font-size: 20px;
  line-height: 1.2em;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.project-block .overlay-box .content h4 a {
  display: inline-block;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.project-block .overlay-box .content span{ display: block; position: relative;}
.project-block .overlay-box .content span:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -12px;
  height: 3px;
  width: 54px;
  background-image: linear-gradient(to right top, #ff4676, #ff3c6d, #ff3163, #ff2359, #ff104e);
  content: "";
}
.gallery {
  position: relative;
  text-align: center;
  padding: 80px 0;
}
.project-block .image-box {
  position: relative;
  overflow: hidden;
}
.project-block .image-box:hover .overlay-box {
  height: 100%;
}
.project-block .image-box:hover:before {
  right: 0;
  bottom: 0;
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}
.project-block .image-box:before {
  position: absolute;
  right: -70px;
  bottom: -70px;
  height: 0;
  width: 0;
  border-bottom: 70px solid #ffffff;
  border-left: 70px solid transparent;
  content: "";
  z-index: 1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.project-block .image-box:Hover .overlay-box .content {
  opacity: 1;
  visibility: visible;
  transition-delay: 500ms;
}
.gallery:before {
  position: absolute;
  left: 0;
  top: 200px;
  width: 700px;
  height: 1055px;
  content: "";
  background-image: url(../images/bg-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}
/*** 

====================================================================
			Fun Fact Section
====================================================================

***/

.fun-fact-section{
  position: relative;
  display: block;
  padding: 165px 0 140px;
  background-image: url(../images/bg-3.png);
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.fun-fact-section:before{
	position: absolute;
	left: 0;
	top: 120px;
	width: 971px;
	height: 680px;
	content: "";
   /* background-image: url(../images/bg-5.png);*/
    background-position:left;
    background-repeat: no-repeat;
    z-index: -1;
}

.fun-fact-section .fact-counter{
    position: relative;
    padding-left: 70px;
}

.counter-box{
	position: relative;
	margin-bottom: 50px;
}

.counter-box .inner-box{
	position: relative;
	text-align: center;
}

.counter-box .graph-outer{
	position: relative;
	display: inline-block;
	height: 120px;
	width: 120px;
	text-align: center;
	margin: 0 auto 20px;
}

.counter-box .graph-outer .count-box{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.counter-box .graph-outer .count-box .txt{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 40px;
	line-height: 120px;
	color: #3c4858;
	font-weight: 800;
}

.counter-box h3{
	position: relative;
	font-size: 17px;
	line-height: 1.2em;
	color: #3c4858;
	font-weight: 600;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
 
/*** 

====================================================================
			Progress Bar
====================================================================

***/
 .progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  margin-right: 0;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fefeff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #ff4b4b;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}
.progress .progress-value div {
  margin-top: 10px;
}
 
.progress-value .result {
  position: absolute;
  left: 0;
  top: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 120px;
  color: #3c4858;
  font-weight: 800;
}
/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
.progress {
  margin-bottom: 1em;
}
.progress_text{
  position: relative;
  font-size: 17px;
  line-height: 1.2em;
  color: #3c4858;
  font-weight: 600;
  display: block;
  text-align: center;
  text-align: center;
  max-width: 150px;
  margin: 0 auto;
  margin-right: 0;
}


/*** 

====================================================================
				News Section
====================================================================

***/

.news-section{
	position: relative;
	padding: 40px 0 75px;
}
.news-section::before{
  position: absolute;
  left: 0;
  top: 0px;
  width: 971px;
  height: 680px;
  content: "";
  background-image: url(../images/bg-5.png);
  background-position: left;
  background-repeat: no-repeat;
  z-index: -1;
}
.news-section.alternate{
	padding-top: 10px; 
}

.news-section .sec-title .info{
	position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
}

.news-section .info h4{
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #3c4858;
	font-weight: 400;
	margin-bottom: 5px;
}

.news-section .info ul{
	display: block;
}

.news-section .info ul li{
	position: relative;
	display: inline-block;
	padding-right: 12px;
	margin-right: 12px;
	font-size: 12px;
	line-height: 20px;
	color: #3c4858;
	font-weight: 300;
}

.news-section .info ul li:before{
	position: absolute;
	right: -3px;
	top: 0;
	font-size: 12px;
	line-height: 20px;
	color: #3c4858;
	content: "/";
}

.news-section .info ul li a{
	color: #3c4858;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-section .info ul li a:hover{
	color: #f44437;
}

.news-section .info ul li:last-child{
	margin-right: 0;
	padding-right: 0;
}

.news-section .info ul li:last-child:before{
	display: none;
}

.news-block{
	position: relative;
	margin-bottom: 30px;
	padding: 0 20px;
}

.news-block .inner-box{
  position: relative;
  background: #fff;
}

.news-block .image-box{
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

.news-block .image-box img{
	display: block;
	width: 100%;
	height: auto;
}

.news-block .image-box::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	-o-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.news-block .inner-box:hover .image-box:before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.news-block .lower-content{
	position: relative;
	padding: 25px 35px 35px;
	border-radius: 0 0 15px 15px;
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
	-moz-box-shadow: 0 5px 20px rgba(0,0,0,.1);
	-ms-box-shadow: 0 5px 20px rgba(0,0,0,.1);
	-o-box-shadow: 0 5px 20px rgba(0,0,0,.1);
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.news-block .lower-content h3{
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #222222;
	margin-bottom: 10px;
}

.news-block .lower-content h3 a{
	color: #222222;
	display: inline-block;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block .lower-content h3 a:hover{
	color: #f44438;
}

.news-block .lower-content p{
	display: block;
	font-size: 14px;
	line-height: 27px;
	color: #888888;
	margin-bottom: 20px;
}

.news-block .lower-content .read-more{
	position:relative;
	font-size:15px;
	color:#3c4858;
	line-height:24px;
	font-weight:600;
	letter-spacing: .5px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block .lower-content .read-more i{
	font-size: 12px;
	font-weight: 700;
	margin-left: 5px;
}

.news-block .lower-content .read-more:hover{
	color: #f44438;
}

.news-carousel .owl-nav{
    position: absolute;
    left:-377px;
    bottom:185px;
    z-index: 99;
}

.news-carousel .owl-prev, 
.news-carousel .owl-next {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
	color: #f44438;
	font-weight: 400;
	border: 2px solid #ebebeb;
	background-color: #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
    transition: all 300ms ease;
}

.news-carousel .owl-prev{
	left: -105px;
}

.news-carousel .owl-prev:hover, 
.news-carousel .owl-next:hover{
	color: #ffffff;
	background-color: #f44438;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1);
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,.1);
	-ms-box-shadow: 0 5px 15px rgba(0,0,0,.1);
	-o-box-shadow: 0 5px 15px rgba(0,0,0,.1);
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.news-carousel .owl-prev:hover:after, 
.news-carousel .owl-next:hover:after{
color: #fff;
}
/*=== Single Item Carousel ===*/

.news-section .slider-column .inner-column{
	padding-top: 15px;
	margin-bottom: 40px;
	margin: 0 -20px;
}

.news-section .single-item-carousel:before{
	position: absolute;
	left: -45px;
	bottom: -45px;
	height: 209px;
	width: 366px;
	background-image: url(../images/icons/dots-3.png);
	background-repeat: no-repeat;
	content: "";
}

.single-item-carousel{
	position: relative;
}

.single-item-carousel .image-box{
	position: relative;
}

.single-item-carousel .image-box .image{
	position: relative;
}

.single-item-carousel .image-box .image img{
	max-height: 100%;
	height: auto;
	display: block;
}

.single-item-carousel .image-box .image a{
	display: block;
}

.single-item-carousel .owl-nav{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 99;
    width: 100%;
}

.single-item-carousel .owl-prev, 
.single-item-carousel .owl-next {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 30px;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
	color: #f44438;
	font-weight: 400;
	border: 2px solid #ebebeb;
	background-color: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
    transition: all 300ms ease;
}

.single-item-carousel .owl-next{
	left: auto;
	right: 30px;
}

.single-item-carousel .owl-prev:hover, 
.single-item-carousel .owl-next:hover{
	color: #ffffff;
	background-color: #f44437;
	border-color: #f44437;
}

/*** 

====================================================================
	Main Footer
====================================================================

***/

.main-footer{
	position:relative;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-image: url(../images/bg-4.png);
}

.main-footer .footer-upper{
	position:relative;
	padding: 185px 0 40px;
}

.main-footer .footer-upper .footer-column{
	position:relative;
	margin-bottom:40px;
}

.main-footer .footer-widget h2{
	position:relative;
	color:#3c4858;
	font-size:18px;
	font-weight:600;
	letter-spacing: .8px;
	margin-bottom:25px;
}

/*Logo Widget*/

.logo-widget{
	position:relative;
	padding-right: 30px;
}

.logo-widget .logo{
	position:relative;
	margin-bottom:20px;
	top: -10px;
}

.logo-widget .text{
	position:relative;
	margin-bottom: 25px;
}

/*Links Widget*/

.main-footer .links-widget .list{
	position:relative;
}

.main-footer .links-widget .list li{
	position:relative;
}

.main-footer .links-widget .list li a{
	position:relative;
	font-size:14px;
	line-height: 32px;
	color:#888888;
	font-weight:400;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.main-footer .links-widget .list li a:hover{
	color:#f44438;
}

/*Recent Posts*/

.recent-posts{
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
}

.recent-posts .post{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dedede;
}

.recent-posts .post:last-child{
	padding-bottom: 0;
	margin-bottom: 0;
	border: 0;
}

.recent-posts .post h4{
	position: relative;
	font-size: 14px;
	line-height: 26px;
	color: #888888;
  font-weight: 400;
  margin-bottom: 0px;
}

.recent-posts .post h4 a{
	color:#888888;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.recent-posts .post h4 a:hover{
	color: #f44438;
}

.recent-posts .post span{
	display: inline-block;
	font-size: 12px;
	line-height: 22px;
	color: #5366cf;
}

/*subscribe widget*/

.newsletter-form{
	position:relative;
	max-width: 280px;
}

.main-footer .newsletter-widget .form-group{
	position:relative;
	display:block;
	margin-bottom:35px;
	padding-right: 72px;
}

.main-footer .newsletter-widget .form-group input[type="text"],
.main-footer .newsletter-widget .form-group input[type="email"]{
	position:relative;
	display:block;
	width:100%;
	font-size:12px;
	line-height:30px;
	color:#888888;
	font-style: italic;
	padding:14px 22px;
	height:60px;
	border:1px solid #dddddd;
	background-color: transparent;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.main-footer .newsletter-widget .form-group input[type="text"]:focus,
.main-footer .newsletter-widget .form-group input[type="email"]:focus{
	border-color:#f44438;	
}

.main-footer .newsletter-widget .form-group input[type="submit"],
.main-footer .newsletter-widget .form-group button{
	position: absolute;
	right: 0;
	top: 0;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	color: #ffffff;
	background-color: #5366cf;
	font-size: 16px;
	font-weight: 600;
	padding-left: 5px;
	border-radius: 30px;
	transition: all 300ms ease;
}

.main-footer .social-links{
	position: relative;
}

.main-footer .social-links h2{
	margin-bottom: 20px;
}

.main-footer .footer-bottom{
	position:relative;
}

.main-footer .footer-bottom .copyright{
	padding:33px 0px;
	text-align:center;
	border-top: 1px solid #dcdde2;
}

.main-footer .footer-bottom .copyright p{
  float: left;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

.main-footer .footer-bottom .copyright p a{
	color: #f44438;
	font-weight: 500;
}

.main-footer .footer-bottom .copyright .link{
	float: right;
	font-size: 14px;
	line-height: 20px;
	color: #888888;
}

.main-footer .footer-bottom .copyright p a:hover,
.main-footer .footer-bottom .copyright .link:hover{
	text-decoration: underline;
}
.contact_detail{
  padding-top: 0px;
}
.contact_detail li a{
  color: #969696;
}
.contact_detail li {
  font-size: 14px;
  padding-left: 30px;
  position: relative;
  margin-bottom: 20px;
  color: #969696;
}
span.ft_icons {
  position: absolute;
  left: 0;
  top: 1px;
}


/******************** contact ***********************/
.contact_sec{
  text-align: center;
  padding: 80px 0;
}
.map iframe{
  filter: grayscale(100%);
}
.contact_sec input{
  border: none;
 border-bottom:1px solid #dfdfdf; 
 padding: 15px 0px;
}
.contact_sec .form-control{
  text-align: left;
}
.contact_sec .form-group{
  text-align: left; 
  margin-bottom: 22px;
}
.contact_sec input[type="submit"] {
  max-width: 200px;
  padding: 4px 0;
  margin: 40px auto 0;
  margin-left: 0px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.about_section .col-md-4 {
  padding-top: 20px;
}
.feature-section .col-md-4:first-child .dev-item:before {
  position: absolute;
  left: -60px;
  top: -40px;
  height: 490px;
  width: 290px;
  content: "";
  background-image: url(../images/dots.png);
  z-index: -1;;
}
.contact_sec .form-group textarea {
  height: 150px;
  resize: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
.owl-nav div{
  font-size: 0px!important;
}
.owl-prev::after {
  content: "\f104";
  font-family: fontawesome;
  color: red;
  font-size: 23px;
}
.owl-next::after {
  content: "\f104";
  font-family: fontawesome;
  color: red;
  font-size: 23px;
  transform: rotate(90deg);
}
.owl-next {
  transform: rotate(180deg);
}
header .nav-top-sec li ul.dropdown-menu li {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 7px;
}
header .navbar .navbar-nav>li .fa {
  color: #3b4757;
  font-size: 13px;
}
header .nav-top-sec li i.fa-phone {
  font-size: 15px;
}
header .navbar-bottom .quote-btn a:hover {
  box-shadow: 0 0 0 40px #ff4373 inset;
  color: #fff;
}
header .navbar-bottom .quote-btn a.read_more.pink:focus,.read_more.pink:focus{
  color: #fff;
}
.read_more.pink:hover{
  box-shadow: 0 0 0 30px #5366cf inset;
  color: #fff;
}
.news-carousel .lower-content a svg{
  height: 10px;
  width: 10px;
  margin-left: 8px;
}
.chat_box {
  position: absolute;
  bottom: 80px;
  right: 150px;
}
.chat_box svg {
  fill: #ff4676;
  cursor: pointer;
}
.text {
  position: relative;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #888888;
  margin: 0;
}
.contact_detail li a:hover{
  color: #ff4676;
}

/*////////////////////////////////////////////////////
/***** 
 contact 
 *********/
/*///////////////////////////////////////////////////*/
.internal .banner {
  min-height: 630px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.banner-text {
  text-align: center;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: 1;
}
.banner-text h2 {
  color: #3b4757;
  display: inline-block;
  font-size: 54px;
}
.banner-text h2 small {
  display: block;
  color: #7d7d7d;
  font-size: 14px;
  margin-top: 15px;
}
.banner-text h2 small::before {
  background:#3b4757;
  width: 100px;
  height: 2px; 
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.home{ display: none;}
.backgrount-iffect {
  height: 100%;
  width: 100%;
  background-size: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;

}
.internal .gallery:before,.servicing .news-section::before{
 display: none;
}

/*////////////////////////////////////////////////////
/***** 
blog Listing
 *********/
/*///////////////////////////////////////////////////*/
.blog_listing {
  padding: 100px 0 0;
}
.blog_listing .news-block .lower-content p {
  display: block;
  font-size: 14px;
  line-height: 27px;
  color: #888888;
  margin-bottom: 20px;
  min-height: 83px;
}
.blog_listing .news-block .lower-content h3 {
  min-height: 60px;
}
.blog_listing .news-block {
  padding: 0 0px;
}
.internal .feature-section:before{ display: none;}
.servicing .fea-listing .col-md-4 {
  margin-bottom: 30px;
}
.servicing .feature-section {
  padding: 80px 0;
}

.servicing .owl-nav div{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  background: #ff4374;
  color: #fff;
  border-radius: 100%;
  height: 30px;
  left: 25px;
}
.servicing  .owl-nav .owl-next{ right: 30px; left: auto;}
.servicing  .owl-nav .owl-next::after {
  transform: rotate(180deg);
  display: block;
  color: #fff;
  left: 12px;
  display: block;
  position: absolute;
  font-size: 22px;
  top: 5px;
  line-height: 1;
}
.servicing  .owl-nav .owl-prev::after {
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: 10px;
  top: 3px;
  line-height: 1;
}
.servicing  .owl-nav div.disabled {
  background: #f0f0f0;
  border: 2px solid #fff;
  box-shadow: 0px 0px 7px #ccc;
}
.servicing .owl-nav div.disabled::after {
  color: #ff4374;
  top: 3px;
  left: 10px;
}
.servicing .owl-nav .owl-prev.disabled::after {
  top: 1px;
  left: 8px;
}
.services-carousel{ position: relative;}
.services-carousel::before{
  position: absolute;
  left: -45px;
  height: 210px;
  width: 367px;
  content: "";
  background-image: url(../images/service-dotts.png);
  z-index: -1;
  background-repeat: no-repeat;
  bottom: -40px;
}
.servicing .news-section {
  padding: 0px 0 55px;
}


/*////////////////////////////////////////////////////
/***** 
About  
 *********/
/*///////////////////////////////////////////////////*/

.abs_content {
  margin-top: 120px;
}
.round_fg {
  width: 255px;
  height: 255px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.our_works h5 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.our_works .row{
  text-align: center;
  padding: 60px 0;
  background-image: url(../images/dotted-fd.png);
  background-position: top 96px center;
  background-repeat: no-repeat;
  max-width: 90%;
  margin: 0 auto;
  background-size: 100%;
}
.abouts_section figure img {
  max-width: 90%;
}
.second-img img{
  margin-top: 45px;
}


.our_works {
  background-image: url(../images/dotted.png);
  background-position: top 0px left 210px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 10px;
  text-align: center;
  padding: 100px 0 40px;
}


/*////////////////////////////////////////////////////
/***** 
blog Internal 
 *********/
/*///////////////////////////////////////////////////*/

.internal_ui h3{ color: #3b4757; font-size: 20px; font-weight: 500; }
.internal_ui {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 8px #bdbdbd;
  max-width: 98%;
}
.internal_ui figure {
  margin-bottom: 10px;
}
.content-section {
  padding:30px 50px;
}
.important_text {
  background-color: #ffebf0;
  border-left: 3px solid #ff2d63;
  border-right: 3px solid #ff2d63;
  padding: 50px 40px;
  text-align: center;
  background-image:url('../images/cott.png'); 
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
.important_text h3{
  margin-bottom: 0px;
}
.comments_post{
  border-top: 1px solid #ccc;
}
.comments_post {
  margin-top: 40px;
}
.top_commet_info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.top_commet_info p strong {
  font-weight: 600;
  color: #3b4756;
}
.top_commet_info p i {
  color: #aaaaaa;
  font-size: 16px;
  margin-left: 25px;
}
.reviews figure {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;    
  display: inline-block;
  vertical-align: middle;
}
.right_cont {
  display: inline-block;
  width: calc(100% - 170px);
  vertical-align: middle;
  padding-left: 30px;
}
.right_cont h3{
  color: #3b4757;
  font-size: 20px;
  margin-bottom: 10px;
}
.right_cont h3 small{
  font-size: 14px;
  color: #ff4200;
  display: block; 
}
.review_listing {
  margin: 30px 0;
}
.review_listing .reviews{
 margin-bottom: 10px;
}
.blog_single{
  padding: 80px 0; position: relative;
}
.search_bar{ position: relative}
.search_bar input[type="submit"] {
  background-image: url(../images/search.png);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 25px;
  top: 51%;
  transform: translateY(-50%);
  cursor: pointer;
  background-position: center;
}
.search_bar input[type="text"] {
  border: 1px solid #ccc;
  padding: 15px 67px 15px 30px;
  height: 70px;
  border-radius: 10px;
}
.blog_listed figure {
  width: 118px;
  height: 118px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.right-heading {
  display: inline-block;
  width: calc(100% - 130px);
  vertical-align: middle;
  padding-left: 20px;
}

.internal-sidebar-container h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.internal-sidebar-container .right-heading h3 {
  margin-bottom: 5px;
  margin-top: 0px;
}
.right-heading h3 a{
  color: #3b4757;
}
.blog_listed {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0;
}
.categ {
  margin-top: 70px;
}
.categ ul li {
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;
}
.categ ul li a{
color: #7d7d7d;
}
.categ ul li:last-child{
  border: none;
}
.cat-thout {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding: 100px 50px;
  margin-top: 50px;
}
.cat-thout h3 {
  color: #fff;
  line-height: 2;
}
.cat-thout h3 a{
  color: #fff;
}
.cat-thout label{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.blog_listing.blog_detail {
  padding: 0px 0 0;
}
.blog_detail h3 {
  font-size: 20px;
}
.search_bar input[type="text"]:focus {
  border-color: #ff3f6f;
}
.blog_detail .news-block {
  width: 90%;
}
.right-heading label {
  color: #8e8e8e;
}
.right-heading h3 a:hover,.categ ul li a:hover,.top_commet_info p i:hover{
  color: #f44438;
}
.service_internal .internal_ui {
  box-shadow: none;
}
ul.bluedots li {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 1.8;
  position: relative;
  padding-left: 21px;
}
ul.bluedots li::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 9px;
  background-image: linear-gradient(to right top, #9467e7, #8961e5, #7e5ce2, #7256e0, #6551de);
  border-radius: 10px;
}
.img_colarge img:first-child {
  margin-right: 1%;
}
.img_colarge img:first-child, .img_colarge img:nth-child(2) {
  width: 49.5%;
  display: inline-block;
  margin-bottom: 7px;
}
.service_internal .important_text {
  background-color: #fff;
  border-left: 3px solid #d0d0d0;
  border-right: none;
  padding: 39px 40px;
  text-align: left;
  background-image: url(../images/cott-black.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
.service_internal .blog_single::before {
  background-image: url(../images/map.png);
  content: "";
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: 67px;
  width: 63%;
  height: 787px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.portfoliosingle h3{
   text-align: left;
}
.portfoliosingle_detail{
  padding: 80px 0 0;
  background-position: top 200px center;
  background-repeat: no-repeat;
  background-size:cover; 
}
.portfoliosingle_detail figure{
  position: relative;
  margin-bottom: 40px;
}
.portfoliosingle_detail figure h3 {
  position: absolute;
  bottom: 15px;
  left: 50px;
  color: #fff;
}
.portfoliosingle_detail h4{
  font-size: 20px;
  color: #3b4757;
  font-weight: 500;
}
.date_information ul li {
  display: inline-block;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  border-right: 1px solid #eee;
  padding-right: 50px;
}
.date_information ul li label{
 color:#7d7d7d;
 font-size: 14px;
 display: block;
}
.portfoliosingle .gallery {
  padding: 40px 0;
}
ol.comment-list {
  padding-left: 0px;
}
ol.comment-list li {
  list-style: none;
}

 ul.nav-top-sec li:hover .phoneBox-dd, ul.nav-top-sec li:hover .skype-dd {
  display: block;
}
ul.nav-top-sec li .phoneBox-dd,  ul.nav-top-sec li .skype-dd {
  width: 345px;
  position: absolute;
  top: 12px;
  right: -32px;
  z-index: 99;
  display: none;
  
}
ul.nav-top-sec li .phoneBox .phoneBoxHdr, ul.nav-top-sec li .skypeBoxHdr {
  background: #fe556f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: normal;
  padding: 10px 20px;
  letter-spacing: 0.2px;
}
.skypeContent {
  background: #fff;
}
ul.nav-top-sec li .phoneBox .phoneBoxInner, ul.nav-top-sec li .skypeContent .skypeBoxInner {
  border: 1px solid #efefef;
  position: relative;
  padding-left: 108px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 110px;
  text-align: left;
  border-top: 0;
}
ul.nav-top-sec  li .phoneBox .phoneBoxInner .img, ul.nav-top-sec  li .skypeContent .skypeBoxInner .img {
  height: 90px;
  width: 60px;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -47px;
}
ul.nav-top-sec  li .phoneBox .phoneBoxInner .img svg, ul.nav-top-sec  li .skypeContent .skypeBoxInner .img svg {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  fill: #25a0d4;
  height: 55px;
  width: 69px;
}
ul.nav-top-sec   li .phoneBox .phoneBoxInner ul li a:hover, ul.nav-top-sec   li .skypeContent .skypeBoxInner ul li a:hover {
  color: #ff4373 !important;
}
ul.nav-top-sec   li .phoneBox .phoneBoxInner ul li a, ul.nav-top-sec   li .skypeContent .skypeBoxInner ul li a {
  font-size: 13px;
  color: #25a0d4;
  text-decoration: none;
}
.skype-dd{ position: relative;}
.skype-dd::before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fe566f;
  content: "";
  position: relative;
  top: -12px;
  right: 26px;z-index: -1;
}
.nav-top-sec li:first-child a::after{ display: none;}
.nav-top-sec li a{ position: relative;}
i.fa.fa-phone::after,i.fab.fa-skype::after {
  content: "\f0d7";
  font-family: fontawesome;
  position: relative;
  top: -1px;
  font-size: 13px;
  padding-left: 5px;
  color: #333; 
  cursor: pointer;
  z-index: 9999;

}
i.fab.fa-skype {
  position: relative;
  top: 2px; 
  cursor: pointer;
}
i.fa.fa-phone {
  position: relative;
  top: 3px;
  cursor: pointer;
}
.skypeBoxInner ul {
  margin: 6px 0;
}
.skypeBoxInner::before {
  content: "";
  width: 1px;
  height: 80px;
  background: #d6d6d6;
  position: absolute;
  left: 93px;
  top: 17px;
}
header .nav-top-sec .skypeBoxInner ul li {
  padding: 0;
  margin: 0;
}
i.fas.fa-user-tie {
  color: #24a0d4;
  margin-right: 12px;
}
.inqSal {
  font-size: 13px;
}
header .nav-top-sec .skypeBoxInner ul li.us img {
  width: 31px;
  margin-right: 10px;
}

.comment-list span.says {
  color: #333;
}




@-webkit-keyframes slide {
from {
background-position: 0 0;
}
50%{
  background-position:0  -100px;
  opacity: 0;
}
to {
background-position:0  0px;

}
}




/*////////////////////////////////////////////////////
/***** 
Responsiveness 
 *********/
/*///////////////////////////////////////////////////*/

@media only screen and (max-width:1499px) {
  header .nav-top-sec li {
        margin-left: 20px;
        padding-left: 20px;
    }
    .read_more {
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 3em;
      min-width: 160px;
  }
    .lfet_lcd img {
      max-width: 860px;
  }
 
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
 header .navbar .navbar-nav>li>a {
  font-size: 14px;
  }
  header .nav-top-sec li i.fa-phone {
    font-size: 14px;
  } 
  header .nav-top-sec {
    margin-bottom: 15px;
    padding: 0 30px 0 0;
  }
  header .nav-top-sec li::after {
    right: -20px;
  }
  header .navbar-bottom .quote-btn {
    margin-left: 10px;
}
.banner_text h2 {
  font-size: 28px;
}
.read_more.pink {
  margin-top: 10px;
  }
  .content_artea {
    margin-top: 120px;
}
header .navbar {
  padding: 22px 0;
}
.banner-wrapper {
  min-height: 740px;
}
.about_section {
  background-size: 524px;
  background-position: left top 30px;
  }
  h3 {
    font-size: 25px;
  }
  .heading-title {
    margin-bottom: 10px;
  }
  .heading-title::before {
    width: 53px;
    height: 3px;
  }
  p {
    margin-bottom: 15px;
    line-height: 1.6;
 }
 .about_section {
  padding: 65px 0;
 }
 .dev-item {
  padding: 32px 20px;
}
  .dev-item figure {
    max-width: 50px;
    margin: 0 auto;
    height: 53px;
  }
  .dev-item h4 {
    font-size: 17px;
    margin-top: 30px;
  }
  .dev-item a {
    font-size: 14px;
  }
  .dev-item p {
      min-height: 98px;
  }
  .feature-section .col-md-4:first-child .dev-item:before {
    left: -34px;
    top: -40px;
    height: 415px;
    width: 290px;
}
.feature-section:before {
  height: 1348px;
  width: 717px;
  top: -380px;
  }
  .fluid-section-one .services-list li .icon-box {
    height: 70px;
    width: 70px;
  }
  .fluid-section-one .content-column .inner-column {
    max-width: 530px;
  }
  .fluid-section-one .services-list li h4 {
    font-size: 17px;
  }
  .fluid-section-one .services-list li {
    padding-left: 85px;
  }
  .project-block .overlay-box .content span {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  h4 {
    font-size: 14px;
  }
  .auto-container {
    max-width: 1100px;
  }
  .news-section .sec-title {
    max-width: 90%;
 }
 .news-block .lower-content {
  padding: 20px 20px 25px;
 }
 .news-carousel .owl-nav {
  left: -334px;
}
.news-block .lower-content .read-more {
  font-size: 13px
 }
 .progress_text {
  font-size: 12px;
  max-width: 117px;
 }
 .progress {
  width: 115px;
  height: 115px;
  line-height: 115px;
 }
 .progress-value .result {
  top: 0px;
 }
 .fun-fact-section {
  padding: 110px 0 110px;
  background-position: 100% center;
  background-size: 84% 100%;
}
.contact_sec input {
  padding: 10px 0px;
  font-size: 13px;
}
.contact_sec .form-group {
  margin-bottom: 15px;
  }
  .contact_sec .form-group textarea {
    height: 110px;
    font-size: 13px;
}
.contact_sec input[type="submit"] {
  max-width: 155px;
}
  .map iframe {
    height: 321px;
}
.main-footer .footer-widget h2 {
  font-size: 16px;
 }
 .recent-posts .post h4 {
  font-size: 13px;
  line-height: 21px;
}
.main-footer .footer-upper {
  position: relative;
  padding: 115px 0 10px;
}
.main-footer .footer-bottom .copyright {
  padding: 20px 0px;
 }
 .chat_box {
  position: absolute;
  bottom: 33px;
  right: 50px;
}
.internal .banner {
  min-height: 470px;
}
.banner-text h2 {
  font-size: 40px;
}
.banner-text h2 small::before {
  width: 70px;
}
.blog_listing .news-block .lower-content p {
  font-size: 13px;
}
.blog_listing .news-block .lower-content h3 {
    min-height: 55px;
    font-size: 17px;
    line-height: 26px;
  }
  .blog_listing {
    padding: 70px 0 0;
}
.round_fg {
  width: 190px;
  height: 190px;
}
.round_fg img {
  max-width: 120px;
  max-height: 100px;
}
.our_works {
  background-position: top 50px left 180px;
  background-size: 274px;
  text-align: center;
  padding: 80px 0 30px;
}
.our_works h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;

}
.search_bar input[type="text"] {
    height: 55px;
  }
  .right-heading h3 {
    font-size: 15px;
  }
  .right-heading label {
    font-size: 13px;
  }
  .blog_listed figure {
    width: 90px;
    height: 90px;
  }
  .right-heading {
    width: calc(100% - 100px);
  }
  .internal-sidebar-container h3 {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .internal_ui h3 {
    font-size: 18px;
  }
  .content-section {
      padding: 20px 30px;
  }
  .blog_detail .news-block {
    width: 100%;
}
  .important_text {
    background-color: #ffebf0;
    border-left: 2px solid #ff2d63;
    border-right: 2px solid #ff2d63;
    padding: 50px 33px;
  }
  .reviews figure {
    width: 120px;
    height: 120px
  }
  .blog_single {
    padding: 50px 0;
}
.cat-thout {
  padding: 40px 25px;
    margin-top: 48px;
  }
  .service_internal .blog_single::before {
    bottom: -125px;
  }
}
