<main class="internal">
 <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
    <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
   <div class="banner-text">
        <h2>Contact Us 
            <small>Home / Contact Us</small>
        </h2>
   </div>    
 </section>
 <section  class="contact_sec">
        <div class="container">
           <div class="row">
              <div class="col-md-10 offset-md-1">
                  <!----h4>Contact Us</h4-->
                  <h3>We can help your business with<br>
                         our knowledge</h3>
             <div class="row">
                 <div class="col-md-6">
               <div class="form">
                   <form>
                     <div class="form-group wow fadeInDown  animated">
                         <input type="text" placeholder="Name">
                     </div>
                     <div class="form-group wow fadeInDown  animated">
                             <input type="text" placeholder="Email">
                     </div>
                     <div class="form-group wow fadeInDown  animated">
                         <textarea placeholder="Your Message">
     
                         </textarea>
                     </div>
                         <div class="form-group wow fadeInDown  animated">  
                                 <input class="read_more pink" type="submit" value="Send Message">
                     </div>   
                   </form>
               </div>
                 </div>
                 <div class="col-md-6 map">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.306067634!2d-74.25987490027077!3d40.69714939655764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1551082091728" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>
     
                 </div>
             </div>
     
              </div> 
           </div>
        </div>
     </section>


</main>