<main class="internal">
    <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
       <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
      <div class="banner-text">
           <h2>About 
               <small>Home / About</small>
           </h2>
      </div>    
    </section>
<section class="abouts_section">
    <div class="container">
        <div class="innerwrapper">
        <div class="row">
      <div class="col-md-5 text-left offset-md-1 fadeInLeft wow">
     <figure>
         <img alt="" src="assets/images/abs.png">
     </figure>
      </div>
      <div class="col-md-5 abs_content wow fadeInRight">
            <div class="sec-title">
                <h4 class="heading-title">About</h4>
                <h3>We are a dynamic team of <br>
                    creatives people of design, <br>
                    marketing, web & apps <br>
                    development.</h3>
             </div>
             <p>
                    We Are Simply Confined To Commitments We Make. Neither Budgets Nor Packages Can Put Us Into Compromising Situations. And, We Love What We Do. We help in building and growing your brand further with creative, 
                    data-driven, tech-focused strategies that enable you to meet your business goals.</p>
                    
                    <p>Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
                    coordinate e-business applications through revolutionary catalysts for chang the Seamlessly underwhelm optimal testing procedures whereas
                    processes.Synergistically evolve 2.0 technologies rather than just in time
                    initiatives.
                 </p>
         </div>
      </div>
      <div class="row">
            <div class="col-md-5 abs_content offset-md-1 wow fadeInLeft">
                  <div class="sec-title">
                      <h4 class="heading-title">Our Mission</h4>
                      <h3>Our mission is <br>
                            to provide our calient <br>
                            what they need!.</h3>
                   </div>
                   <p>
                          We Are Simply Confined To Commitments We Make. Neither Budgets Nor Packages Can Put Us Into Compromising Situations. And, We Love What We Do. We help in building and growing your brand further with creative, 
                          data-driven, tech-focused strategies that enable you to meet your business goals.</p>
                          
                          <p>Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
                          coordinate e-business applications through revolutionary catalysts for chang the Seamlessly underwhelm optimal testing procedures whereas
                          processes.Synergistically evolve 2.0 technologies rather than just in time
                          initiatives.
                       </p>
               </div>
               <div class="col-md-5 text-right second-img wow fadeInRight">
                    <figure>
                        <img alt="" src="assets/images/abs2.png">
                    </figure>
                     </div>
            </div>
       </div>
   </div>
</section>
<section class="our_works">
  <div class="container">
   <h4>Our Work</h4>
   <h3>Digital never sleeps and this <br>
        list is not exhaustive.</h3>

<div class="row">
   <div class="col-md-4 wow fadeInLeft">
       <figure class="round_fg" style="background-image:url('assets/images/round.png')">
       <img src="assets/images/ab-icon.png" alt="">
       </figure>
    <h5>Market Research</h5>
    <p>Our marketing division turns great strategy into
            impeccable execution. With specialists that cover the entire spectrum of modern marketing they are the engine room of our operation.</p>
   </div>
   <div class="col-md-4 fadeInDown wow">
        <figure class="round_fg" style="background-image:url('assets/images/round.png')">
            <img src="assets/images/ab-icon2.png" alt="">
            </figure>
        <h5>Web Analytics</h5>
    <p>Our strategy department is Major Tom’s mission
            control. They are a team of forward thinkers who work tirelessly to help clients navigate the ever
            changing media landscape</p>
   </div>
   <div class="col-md-4 fadeInRight wow">
        <figure class="round_fg" style="background-image:url('assets/images/round.png')">
            <img src="assets/images/ab-icon3.png" alt="">
            </figure>
    <h5>Launch Product</h5>
       <p>The people who bring ideas to life, our
            development team is forever getting their hands dirty. They build great things and leave their mark on the digital landscape.</p>
         </div>
      </div>
    </div>
</section>

<section class="fun-fact-section wow fadeInRight  animated">
        <div class="container">
    <div class="auto-container">
        <div class="fact-counter">
            
            <div class="row clearfix">
                <div class="col-md-3">
                    <div class="progress" data-percentage="90">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <div>
                             <span class="result">95</span>  
                               
                            </div>
                        </div>
                    </div>
                    <label class="progress_text">Happy customers</label>
                </div>
                <div class="col-md-3">
                    <div class="progress" data-percentage="80">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <div>
                                    <span class="result">80</span> 
                            </div>
                        </div>                         
                       
                    </div>
                    <label class="progress_text">Profestionals</label>
                </div>                    
                <div class="col-md-3">
                    <div class="progress" data-percentage="80">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <div>
                                    <span class="result">83</span> 
                            </div>
                        </div>
                    </div>
                    <label class="progress_text">customers</label>
                </div>
                <div class="col-md-3">
                    <div class="progress" data-percentage="70">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <div>
                                    <span class="result">76</span> 
                            </div>
                        </div>
                    </div>
                    <label class="progress_text">progress</label>
                </div>
             </div>
          </div>
        </div>
    </div>
</section>
<section  class="contact_sec">
<div class="container">
  <div class="row">
     <div class="col-md-10 offset-md-1">
         <h4>Contact Us</h4>
         <h3>We can help your business with<br>
                our knowledge</h3>
    <div class="row">
        <div class="col-md-6">
      <div class="form">
          <form>
            <div class="form-group wow fadeInDown  animated">
                <input type="text" placeholder="Name">
            </div>
            <div class="form-group wow fadeInDown  animated">
                    <input type="text" placeholder="Email">
            </div>
            <div class="form-group wow fadeInDown  animated">
                <textarea placeholder="Your Message">

                </textarea>
            </div>
                <div class="form-group wow fadeInDown  animated">  
                        <input class="read_more pink" type="submit" value="Send Message">
            </div>   
          </form>
      </div>
        </div>
        <div class="col-md-6 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.306067634!2d-74.25987490027077!3d40.69714939655764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1551082091728" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>

     </div> 
  </div>
</div>
</section>

    </main>