<main class="internal">
        <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
           <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
          <div class="banner-text">
               <h2>Blog 
                   <small>Home / Blog</small>
               </h2>
          </div>    
        </section>
        <section class="blog_listing">
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="#">
                                        <img alt="" src="assets/images/news-1.jpg">
                                    </a>
                                </div>
                                <div class="lower-content">
                                    <h3>
                                        <a href="#">How Hiring a Dedicated Resource
                                                for Mobile App is a Good Idea?
                                        </a>
                                    </h3>
                                    <p>Business landscape has undergone a whirlwind of change with virtual existence of companies superimposing the quintessential existence.</p>  
                                <a href="#" class="read-more">
                                    Read More
                                   </a>           
                                  </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="news-block">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <a href="#">
                                            <img alt="" src="assets/images/news-2.jpg">
                                        </a>
                                    </div>
                                    <div class="lower-content">
                                        <h3>
                                            <a href="#">Semantic Search: What Is It And
                                                    How Can You Benefit From It?
                                            </a>
                                        </h3>
                                        <p> Search is changing and it’s changing for good!”  If you’ve been using the Internet, specifically the search engines. </p>  
                                    <a href="#" class="read-more">
                                        Read More
                                       </a>           
                                      </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-3.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">7 Reasons Why Your Business
                                                        Needs a Mobile App
                                                </a>
                                            </h3>
                                            <p>There had been a significant rise in the “Post-PC” products over the last decade </p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-4.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">Parallax Websites: The Future of
                                                    Website Design?
                                                </a>
                                            </h3>
                                            <p>“Above the fold” days are long gone. But then, what’s the current trend? </p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-5.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">How To Create An Effective
                                                    404 Page?
                                                </a>
                                            </h3>
                                            <p>Sometimes while surfing a website you might have come across a 404 error page and wondered what had gone wrong?  </p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-6.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">Google’s Rich Answer Box – How to
                                                    setup your site to get featured?
                                                </a>
                                            </h3>
                                            <p>Google has tuned its practices over the years to provide the best experience to its users. </p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-7.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">Google Algorithm Major Updates
                                                    in 2018
                                                </a>
                                            </h3>
                                            <p>Searching information on a search engine is something people have taken for granted.</p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-8.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">The Beginner’s Guide to Conversion
                                                    Rate Optimization
                                                </a>
                                            </h3>
                                            <p>Conversion Rate Optimization (CRO) is a widely used term in internet marketing. Regardless of what business you carry online, </p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <div class="news-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <a href="#">
                                                <img alt="" src="assets/images/news-9.jpg">
                                            </a>
                                        </div>
                                        <div class="lower-content">
                                            <h3>
                                                <a href="#">5 SEO Facts to Keep in Mind while
                                                    Building Links
                                                </a>
                                            </h3>
                                            <p>Google was not the first one to start the
                                                computation and counting of links as “votes”</p>  
                                        <a href="#" class="read-more">
                                            Read More
                                           </a>           
                                          </div>
                                        </div>
                                    </div>
                            </div>

                            
              </div>
          </div>
        </section>
        <section  class="contact_sec">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                      <h4>Contact Us</h4>
                      <h3>We can help your business with<br>
                             our knowledge</h3>
                 <div class="row">
                     <div class="col-md-6">
                   <div class="form">
                       <form>
                         <div class="form-group wow fadeInDown  animated">
                             <input type="text" placeholder="Name">
                         </div>
                         <div class="form-group wow fadeInDown  animated">
                                 <input type="text" placeholder="Email">
                         </div>
                         <div class="form-group wow fadeInDown  animated">
                             <textarea placeholder="Your Message">
         
                             </textarea>
                         </div>
                             <div class="form-group wow fadeInDown  animated">  
                                     <input class="read_more pink" type="submit" value="Send Message">
                         </div>   
                       </form>
                   </div>
                     </div>
                     <div class="col-md-6 map">
                             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.306067634!2d-74.25987490027077!3d40.69714939655764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1551082091728" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>
         
                     </div>
                 </div>
         
                  </div> 
               </div>
            </div>
         </section>
  </main>