<header class="header">
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html">                    
                    <img class="home" src="assets/images/logo.png" alt="logo" />
                    <img class="intr" src="assets/images/logo-2.png" alt="logo" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">               
                <div class="navbar-bottom">
                    <div class="navpart">
                        <ul class="nav-top-sec">
                                <li>
                                    <figure>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </figure>
                                    <a href="mailto:info.digidreams.com ">info.digidreams.com </a>
                                </li>
                                <li>
                                        <a data-skype-icon="" href="javascript:void(0);"><span class="sr-only">Skype</span><i class="fab fa-skype"></i>
                                            <span class="caret"></span> </a>
                                            <div class="skype-dd">
                                                    <div class="skypeContent">
                                                    <div class="skypeBoxHdr">iMark Skype Contacts</div>
                                                    <div class="skypeBoxInner">
                                                            <div class="img sales-inq">
                                                                    <svg version="1.1"	 viewBox="0 0 480 480">
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M160,0C93.726,0,40,53.726,40,120v88c0.035,30.913,25.087,55.965,56,56h8v-16h-8c-22.08-0.026-39.974-17.92-40-40v-88
                                                                                        c0-57.438,46.562-104,104-104s104,46.562,104,104v88c-0.026,22.08-17.92,39.974-40,40h-8v16h8c30.913-0.035,55.965-25.087,56-56
                                                                                        v-88C280,53.726,226.274,0,160,0z"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M65.928,377.032l5.848-9.208l-13.512-8.576l-5.848,9.216c-17.687,27.872-16.374,63.76,3.304,90.264V480h16v-24
                                                                                        c0.001-1.817-0.617-3.581-1.752-5C52.96,429.738,51.337,400.02,65.928,377.032z"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M440,0H336c-22.08,0.026-39.974,17.92-40,40v80c0.026,22.08,17.92,39.974,40,40h16v32
                                                                                        c-0.001,3.235,1.947,6.153,4.936,7.392c0.971,0.405,2.012,0.611,3.064,0.608c2.122,0,4.156-0.844,5.656-2.344L403.312,160H440
                                                                                        c22.08-0.026,39.974-17.92,40-40V40C479.974,17.92,462.08,0.026,440,0z M464,120c0,13.255-10.745,24-24,24h-40
                                                                                        c-2.122,0-4.156,0.844-5.656,2.344L368,172.688V152c0-4.418-3.582-8-8-8h-24c-13.255,0-24-10.745-24-24V40
                                                                                        c0-13.255,10.745-24,24-24h104c13.255,0,24,10.745,24,24V120z"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect x="336" y="40" width="56" height="16"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect x="408" y="40" width="32" height="16"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect x="336" y="72" width="104" height="16"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <rect x="336" y="104" width="56" height="16"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M267.584,368.464l-5.848-9.216l-13.512,8.576l5.848,9.216c14.592,22.985,12.969,52.701-4.04,73.96
                                                                                        c-1.135,1.419-1.753,3.183-1.752,5v24h16v-21.272C283.958,432.224,285.271,396.336,267.584,368.464z"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                                <g>
                                                                                    <path d="M472,272h-72c-30.016,0.035-54.666,23.729-55.888,53.72L320,369.128V336c-0.035-30.913-25.087-55.965-56-56h-29.24
                                                                                        l-0.216-0.168L234.4,280H216c-8.837,0-16-7.163-16-16v-18.824c24.719-14.272,39.962-40.633,40-69.176v-64
                                                                                        c-0.012-13.255-3.31-26.3-9.6-37.968c-2.015-3.712-6.569-5.219-10.4-3.44L84.592,134.304c-2.804,1.32-4.593,4.141-4.592,7.24V176
                                                                                        c0.038,28.543,15.281,54.904,40,69.176V264c0,8.837-7.163,16-16,16H56c-30.913,0.035-55.965,25.087-56,56v144h16V336
                                                                                        c0.026-22.08,17.92-39.974,40-40h25.456l72.04,100.656c1.48,2.069,3.856,3.31,6.4,3.344H160c2.518,0,4.889-1.186,6.4-3.2l76-100.8
                                                                                        H264c22.08,0.026,39.974,17.92,40,40v64c0.004,4.418,3.589,7.997,8.007,7.993c2.902-0.003,5.575-1.576,6.985-4.113L356.704,336
                                                                                        h45.864l-78,144h18.2L420.8,336h3.2c30.913-0.035,55.965-25.087,56-56C480,275.582,476.418,272,472,272z M96,176v-29.376
                                                                                        l123.528-58.128C222.483,95.98,224,103.954,224,112v64c0,35.346-28.654,64-64,64C124.654,240,96,211.346,96,176z M160.168,378.496
                                                                                        L135.48,344h50.688L160.168,378.496z M198.272,328H124l-22.904-32H104c17.673,0,32-14.327,32-32v-11.688
                                                                                        c15.622,4.917,32.378,4.917,48,0V264c0,17.673,14.327,32,32,32h6.4L198.272,328z M424,320h-63.2
                                                                                        c3.825-18.613,20.198-31.979,39.2-32h63.2C459.375,306.613,443.002,319.979,424,320z"/>
                                                                                </g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            <g>
                                                                            </g>
                                                                            </svg> 
                                                                            
                                                       </div>
                                                            <div class="inqSal">For SEO/PPC assistance</div>
                                                            <ul>
                                                              <li><i class="fas fa-user-tie"></i> <a href="skype:imark.seo?chat" tabindex="-1">imark.seo</a></li>
                                                            </ul>
                                                            <div class="inqSal">For Web Development assistance</div>
                                                             <ul>
                                                              <li><i class="fas fa-user-tie"></i> <a href="skype:imark.infotech?chat" tabindex="-1">imark.infotech</a></li>
                                                            </ul>
                                                          </div>
                                                    </div>
                                         </div>

                                    <!----div class="dropdown">
                                        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fab fa-skype"></i>
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="mailto:loremipsum.com">loremipsum.com</a>
                                            </li>
                                            <li><a href="mailto:skype.com">skype.com</a></li>
                                        </ul>
                                    </div-->
                                </li>
                                <li> 
                                    <a data-skype-icon="" href="javascript:void(0);"><span class="sr-only">Skype</span><i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="caret"></span> </a>
                                        <div class="skype-dd">
                                                <div class="skypeContent">
                                                <div class="skypeBoxHdr">iMark Contacts</div>
                                                <div class="skypeBoxInner">
                                                        <div class="img sales-inq">
                                              
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1"
viewBox="0 0 473.806 473.806" style="enable-background:new 0 0 473.806 473.806;" xml:space="preserve">
<g>
<g>
   <path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4
       c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8
       c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6
       c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5
       c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26
       c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9
       c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806
       C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20
       c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6
       c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1
       c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3
       c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5
       c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8
       c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9
       l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1
       C420.456,377.706,420.456,388.206,410.256,398.806z"/>
   <path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2
       c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11
       S248.656,111.506,256.056,112.706z"/>
   <path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11
       c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2
       c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z"/>
</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                                                            
                                                   </div>
                                                        <div class="inqSal">For Web/Mob Development Inquiry </div>
                                                        <ul>
                                                            <li class="us">
                                                                  <span>
                                                                      <img src="assets/images/usa.jpg" alt="">
                                                                  </span>
                                                                <a href="tel:+13109336106" tabindex="-1">+1 310 933 6106</a></li>
                                                  <!--<li class="us"><a href="tel:+13109109132">+1 310 910 9132</a></li>
                                                            <li class="au"><svg>
                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#australia"></use>
                                                  </svg><a href="tel:+61862252821" tabindex="-1">+61 8 6225 2821 </a> (ext 105)</li>-->
                                                          </ul>
                                                        <div class="inqSal">For SEO/PPC Inquiry  </div>
                                                         <ul>
                                                          <li class="us">
                                                                <span>
                                                                        <img src="assets/images/usa.jpg" alt="">
                                                                    </span>
                                                                    <a href="skype:imark.infotech?chat" tabindex="-1">+1 310 734 8872</a></li>
                                                        </ul>
                                                        <div class="inqSal">For HR Inquiry  </div>
                                                         <ul>
                                                          <li  class="us">
                                                                <span>
                                                                        <img src="assets/images/india.jpg" alt="">
                                                                    </span>

                                                            <a href="skype:imark.infotech?chat" tabindex="-1">+91 0172 4601189</a></li>
                                                        </ul>
                                                      </div>
                                                </div>
                                     </div>

                                    <!----div class="dropdown">
                                        <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="tel:911234567891">+91 12345-67891</a>
                                            </li>
                                            <li>
                                                <a href="tel:915467856322">+91 54678-56322</a>
                                            </li>
                                        </ul>
                                    </div-->
                                </li>
                            </ul>

                    <ul class="nav navbar-nav ml-auto" id="menu-primary-menu">
                        <li class="nav-item current-menu-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
                        </li>
                        <li class="nav-item menu-item-has-children">
                            <a  class="nav-link" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">Services
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" routerLink="/services" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Web Development</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Web Design</a>
                                </li>
                            </ul>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/project" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/blog" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Blog </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Contact Us</a>
                        </li>
                    </ul>
                </div>
                    <div class="quote-btn">
                        <a href="#" class="read_more">Request a quote</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
    </nav>
</header>
