<main class="internal portfoliosingle">
 <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
    <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
   <div class="banner-text">
        <h2>Project Detail 
            <small>Home / Project Detail</small>
        </h2>
   </div>    
 </section>
<section class="portfoliosingle_detail"  style="background-image: url('assets/images/map2.png');">
<div class="container">
<figure>
    <img src="assets/images/portfoliosingle.jpg" alt="">
    <h3>The best theme I’ve used so for that has the best customer support.</h3>
</figure>
<div class="date_information">
 <ul>
     <li>
         Date
         <label>14 July 2018</label>
    </li>
    <li>
            Client Name
            <label>Natalia Mav, USA</label>
       </li>
       <li>
            Project Type
            <label>Web & App Development</label>
       </li>
 </ul>
</div>

<h4>We are a premier web development company that comes with years of proven experience and a brilliant track record. With a certified team of web professionals, we strive to deliver you high-quality customizable development and optimization services to perfectly match your needs.</h4>
<p>  The sole purpose of any website is to interact with a user in a way to bring him back again and this is possible only through a wide range of customization that a website needs, because of the constantly changing trends.To cater to these trends, our developers know their way in Wordpress, Drupal and CMS like Joomla to create dynamic and eccentric websites for our clients.</p>
        <p>With over 6+ years of experience in offering custom web development services, we’ve have grown our client base across the globe, serving multiple industries and business domains including healthcare, education, eCommerce, entertainment, travel, finance, media, automotive and more.</p>
        
        <p>Have an idea on mind? Let’s turn it into a success story!</p>

 
</div>
</section>

 <section class="gallery">
        <div class="container">
            <h3>Related Projects</h3>
           <div class="row clearfix">     <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                     <figure><img src="assets/images/galery1.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                     <figure><img src="assets/images/galery5.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Web & App Development</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div>
 
             <!-- Project Block -->
             <div class="project-block col-md-4 col-sm-6 col-xs-12">
                 <div class="image-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                     <figure><img src="assets/images/galery2.jpg" alt=""></figure>
                     <div class="overlay-box">
                         <div class="content">
                             <span>Branding</span>
                             <h4><a href="#">Home Decoration</a></h4>
                         </div>
                     </div>
                 </div>
             </div> 
         </div>
        </div>
     </section>
 


</main>