<main class="internal servicing">
        <section class="banner"  style="background-image: url('assets/images/contact.jpg');">
           <div class="backgrount-iffect" style="background-image: url('assets/images/contact-iffect.png');"></div>
          <div class="banner-text">
               <h2>Services 
                   <small>Home / services</small>
               </h2>
          </div>    
        </section>
        <section class="feature-section">
            <div class="container">
              <h4>Features</h4>
              <h3>At the heart of our approach is our dedication to <br>custom design, development and strategy.</h3>
               <div class="fea-listing">
                   <div class="col-md-10 offset-md-1">
                       <div class="row">
                           <div class="col-md-4  wow fadeInLeft">
                               <div class="dev-item">
                                   <figure><img src="assets/images/icon1.png" alt=""></figure>
                           <h4>Web Development</h4>
                           <p>We specialize in complex functionality to
                               address your growing business needs. When you need 
                               to create a truly custom solution you can count on us to be your team.</p>
                               <a href="#">Read More</a>
                           </div></div>
                           <div class="col-md-4  wow fadeInDown">
                                   <div class="dev-item">
                                           <figure><img src="assets/images/icon2.png" alt=""></figure>
                               <h4>Responsive Web-sites</h4>
                               <p>Responsive design helps you in reaching a wider audience. It doesn’t matter if your
                                   visitors use PC or Mac, Laptop or Phone – they will get perfect viewing experience every time</p>
                               <a href="#">Read More</a>
                           </div>
                           </div>
                           <div class="col-md-4 wow fadeInRight">
                                   <div class="dev-item">
                                           <figure><img src="assets/images/icon3.png" alt=""></figure>
                               <h4>Mobile App Development</h4>
                               <p>We are skilled with most of major platforms including native iOS and Android,
                                   Appcelerator Titanium, and Phone Gap.</p>
                               <a href="#">Read More</a>
                           </div> 
                           </div>
                           
                           <div class="col-md-4  wow fadeInLeft">
                              <div class="dev-item">
                                  <figure><img src="assets/images/icon4.png" alt=""></figure>
                          <h4>Market Research</h4>
                          <p>As a digital marketing agency, we specialize in lead generation, inbound marketing, conversion optimization, and sales nurturing. Our digital process is data-driven and highly iterative.</p>
                              <a href="#">Read More</a>
                          </div></div>
                          <div class="col-md-4  wow fadeInDown">
                                  <div class="dev-item">
                                          <figure><img src="assets/images/icon5.png" alt=""></figure>
                              <h4>Digital Marketing</h4>
                              <p>We provide ongoing digital strategy and optimization including development and creative services, 24/7 performance monitoring, paid search, display advertising, SEO.</p>
                              <a href="#">Read More</a>
                          </div>
                          </div>
                          <div class="col-md-4 wow fadeInRight">
                                  <div class="dev-item">
                                          <figure><img src="assets/images/icon6.png" alt=""></figure>
                              <h4>Optimization</h4>
                              <p>We provide data-driven marketing solutions strategically designed to convert your existing customers, attract new ones and optimize for success.</p>
                              <a href="#">Read More</a>
                          </div> 
                          </div> 
                       </div>
                  </div> 
              </div>
           </div>
         </section>
         <section class="news-section">
            <div class="auto-container">
              <div class="col-md-10 offset-md-1">
                    <div class="row clearfix">
                            <div class="title-column col-md-5 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                            <div class="sec-title">
                                                    <h4 class="heading-title">Blog</h4>
                                                    <h3>Check what <br>
                                                        happening inside here</h3>
                                                        <p>By Admin  /  Date 4 April 2018  / Like <span>25</span>  /  Comment <span>65</span></p>
                                                    <p>
                                                        Distinctively exploit optimal alignments for intuitive
bandwidth. Quickly coordinate e-business through
revolutionary catalysts for chang the Seamlessly
underwhelm optimal processes.
                                                    </p>
                                                </div>
                                  </div>
                            </div>
                            <div class="slider-column col-md-7 col-sm-12 col-xs-12">
                                    <div class="inner-column">
                                        <div class="services-carousel owl-carousel owl-theme">
                                                <div class="owl-item">
                                                <img src="assets/images/serv.jpg" alt=""> 
                                                            </div>
                                                  
                                                    <div class="owl-item">
                                                  <img src="assets/images/serv.jpg" alt=""> 
                                                                     </div>
                                                
                                                        
                                        </div>  
                                    </div>
                             </div>
            </div>
        </div>  
      </div>
    </section>

    <section  class="contact_sec">
        <div class="container">
           <div class="row">
              <div class="col-md-10 offset-md-1">
                  <h4>Contact Us</h4>
                  <h3>We can help your business with<br>
                         our knowledge</h3>
             <div class="row">
                 <div class="col-md-6">
               <div class="form">
                   <form>
                     <div class="form-group wow fadeInDown  animated">
                         <input type="text" placeholder="Name">
                     </div>
                     <div class="form-group wow fadeInDown  animated">
                             <input type="text" placeholder="Email">
                     </div>
                     <div class="form-group wow fadeInDown  animated">
                         <textarea placeholder="Your Message">
     
                         </textarea>
                     </div>
                         <div class="form-group wow fadeInDown  animated">  
                                 <input class="read_more pink" type="submit" value="Send Message">
                     </div>   
                   </form>
               </div>
                 </div>
                 <div class="col-md-6 map">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.306067634!2d-74.25987490027077!3d40.69714939655764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1551082091728" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen></iframe>
     
                 </div>
             </div>
     
              </div> 
           </div>
        </div>
     </section>
  </main>  