<footer class="main-footer">
        <!--footer upper-->
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Big Column-->
                    <div class="big-column col-md-5 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-md-8 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index.html"><img src="assets/images/logo-2.png" alt=""></a>
                                    </div>
                                    <div class="text">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate business through revolutionary</div>
                                    <div class="sign-img"><img src="assets/images/sign.png" alt=""></div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h2>Quick Links</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Projects</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Big Column-->
                    <div class="big-column col-md-7 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <!--Footer Column-->
                                <div class="footer-widget recent-posts">
                                    <h2 class="widget-title">Recent Posts</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <div class="post">
                                            <h4><a href="#">Top 10 SEO techniques for your site</a></h4>
                                            <span class="date"> 4 April 2018</span>
                                        </div>

                                        <div class="post">
                                            <h4><a href="#">Top 10 SEO techniques for your site</a></h4>
                                            <span class="date"> 4 April 2018</span>
                                        </div>

                                        <div class="post">
                                            <h4><a href="#">Top 10 SEO techniques for your site</a></h4>
                                            <span class="date"> 4 April 2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget newsletter-widget">
                                    <h2>Contact Deatils</h2>                  
                                      <ul class="contact_detail">
                                         <li> <span class="ft_icons">
                                             <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                             Lorem Ipsum is simply dummy
                                             Digi Dreams, New York
                                            </li>
                                            <li><span class="ft_icons"><i aria-hidden="true" class="fa fa-envelope"></i></span>
                                                <a href="#">info@digidreams.com</a>
                                            </li>
                                        </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright clearfix">
                    <p>Copyrights reserved</p>
                </div>
            </div>
        </div>
<div class="chat_box">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65" height="57" viewBox="0 0 65 57">
            <defs>
              <linearGradient id="linear-gradient" x1="11.13" y1="334.47" x2="65" y2="334.47" gradientTransform="matrix(1, 0, 0, -1, 0, 359.98)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#ff5984"/>
                <stop offset="1" stop-color="#ff0042"/>
              </linearGradient>
              <linearGradient id="linear-gradient-2" x1="0" y1="324.98" x2="39.53" y2="324.98" xlink:href="#linear-gradient"/>
            </defs>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g id="Layer_2-2" data-name="Layer 2">
                  <g id="Layer_1-2-2" data-name="Layer 1-2">
                    <path class="cls-1" d="M65,22.66C65,10.16,52.92,0,38.06,0S11.13,10.16,11.13,22.66,23.21,45.32,38.06,45.32a32.47,32.47,0,0,0,3.73-.22c5.72,3.65,9.94,5.64,12.56,5.93h.27a2.5,2.5,0,0,0,2.17-3.73s-2-3.74-1.46-7.27C61.49,35.74,65,29.43,65,22.66ZM30.75,26.08a4,4,0,1,1,4-4A4,4,0,0,1,30.75,26.08Zm14.63,0a4,4,0,1,1,4-4A4,4,0,0,1,45.38,26.08Z"/>
                    <path class="cls-2" d="M16.82,40.79a24.54,24.54,0,0,1-6.26-7.72,21.09,21.09,0,0,1,0-19.36c.12-.23.24-.47.37-.7C4.33,16.8,0,23.12,0,30.28,0,36.7,3.45,42.66,9.48,46.67c1.11,4.39-1.47,9-1.5,9.08A.83.83,0,0,0,8.71,57H8.8c3-.34,8.33-3.41,12.35-6a30.64,30.64,0,0,0,4.12.28A28.83,28.83,0,0,0,39.53,47.6c-.91.07-1.82.11-2.73.11a31.23,31.23,0,0,1-20-6.92Z"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          

</div>

    </footer>
 